﻿@using FusionSzef
@using FusionPOS.Translations

@section commands {
	<li><a href="@Url.Action("New")">Wystaw fakturę</a></li>
}

<table
    feature="datatable"
    source="@Url.RouteUrl("AjaxList", new { domain = "OutgoingInvoice" })"
    row-edit="@Url.Action("View")">
	<td name="Data wystawienia" type="date" property="IssueTime"/>
	<td name="Suma" property="TotalValueGross"/>
	<td name="Nazwa" property="BuyerName"/>
	<td name="Usuń" property="Id" class="noclick">{{#__deleteLink}}@Url.Action("Delete"){{/__deleteLink}}</td>
</table>
