@using FusionSzef
@model FusionSzef.OutgoingInvoiceModel

@section commands {

}

<h1>Faktura VAT do zamówienia:</h2>
<table>
	<tr>
		<td>Data zamówienia:</td>
		<td>@Model.Order.Time</td>
	</tr>
	<tr>
		<td>Klient:</td>
		<td>@(Model.Order.Client != null ? Model.Order.Client.ToString() : "brak")</td>
	</tr>
	<tr>
		<td>Kwota:</td>
		<td>@Model.Order.TotalValue</td>
	</tr>
	<tr>
		<td>Numer przyszłej faktury:</td>
		<td>1/2012</td>
	</tr>
</table>

@using(var form = Html.Form()) {
<text>
	@{ form
		.Add(new TextField("Nazwa klienta"), m => m.BuyerName)
		.Add(new TextField("Adres klienta"), m => m.BuyerAddress)
		.Add(new TextField("NIP klienta"), m => m.BuyerNip)
		.Add(new SelectField("Metoda płatności", Extensions.ReadEnum(typeof(FusionPOS.Domain.PaymentMethod))), m => m.PaymentMethod)
		.Add(new SelectField("Wystaw jako", Extensions.ReadEnum(typeof(FusionSzef.OutgoingInvoiceType))), m => m.InvoiceType)
		.Add(new SubmitButton("Wystaw fakturę"));
	}
</text>
}