@section commands {
}

<ul>
	<h2>Statystyki obrotu</h2>
	<li><a href="@Url.Action("Turnover")">Obrót dzienny</a></li>
	<li><a href="@Url.Action("Turnover")">Obrót tygodniowy</a></li>
	<li><a href="@Url.Action("Turnover")">Obrót miesięczny</a></li>
</ul>