@model FusionPOS.Domain.Order
@using FusionPOS.Domain
@using FusionSzef
@section commands {
	<li><a href="@Url.Action("New", "OutgoingInvoices", new { orderId = Model.Id })">Wystaw fakturę VAT do zamówienia</a></li>
}

<div id="tabs" feature="tabs">	
	<ul>
		<li><a href="#basic-tab">Podstawowe informacje</a></li>
		<li><a href="#dishes-tab">Składniki zamówienia</a></li>
	</ul>
	<div id="basic-tab">
		<table>
			<tr>
				<td>Data zamówienia:</td>
				<td>@Model.Time.ToString("dd MM yyyy HH:mm")</td>
			</tr>
			<tr>
				<td>Klient:</td>
				<td>@(Model.Client != null ? Model.Client.Name : "brak")</td>
			</tr>
			<tr>
				<td>Kwota:</td>
				<td>@(Model.TotalValue != 0 ? Model.TotalValue : Model.FinalValue)</td>
			</tr>
			<tr>
				<td>Numer faktury:</td>
				<td>@(Model.Invoice != null ? Model.Invoice.Number : "nie wystawiono")</td>
			</tr>
			<tr>
				<td>Forma płatności:</td>
				<td>
					@foreach(OrderPayment p in Model.Payments) {
						@p.Method;
					}
				</td>
			</tr>
			<tr>
				<td>Dostawa:</td>
				<td>@Model.Destination.Describe</td>
			</tr>
		</table>
	</div>
	<div id="dishes-tab">
		<table>
			<tr>
				<th>#</th>
				<th>Nazwa</th>
				<th>Ilość sztuk</th>
				<th>Cena netto</th>
				<th>Cena brutto</th>
			</tr>
			@{
				int id=0;
			}
			@foreach (var i in Model.Entries) {
				++id;
				<tr>
					<td>@id</td>
					<td>@i.Dish.Name</td>
					<td>@i.Amount</td>
					<td>@i.ValueNet</td>
					<td>@i.ValueGross</td>
				</tr>
			}
			<tr>
				<td colspan="2">Łączna wartość netto:</td>
				<td colspan="3">@Model.ValueNet</td>
			</tr>
		</table>
	</div>
</div>