@using FusionSzef
@section commands {

}

<table
    feature="datatable"
    server-side="true"
    source="@Url.RouteUrl("AjaxListServer", new { domain = "Order" })"
    row-edit="@Url.Action("Edit")">
	<td name="ID" property="Id"/>
	<td name="Data i godzina" property="Time" type="date"></td>
	<td name="Kwota" property="FinalValue" type="price"/>
	<td name="Kelner" property="Waiter.Name"/>
	<td name="Kierunek" property="Destination.Describe"></td>
	<td name="Status" property="Status"/>
</table>
