@model FusionSzef.InvoiceSettingsModel
@using FusionSzef
@section commands {
	<li><a href="@Url.Action("Index")">Anuluj</a></li>
}

@{ Html.Form("EditCompanyData")
	.Add(new TextField("Format numeracji faktur"), m => m.Format)
	.Add(new SubmitButton("Zapisz"));
}
