@model FusionSzef.NetworkSettingsModel
@using FusionSzef
@section commands {
	<li><a href="@Url.Action("Index")">Anuluj</a></li>
}

@{ Html.Form()
	.Add(new FormHeader("Ustawienia TCP/IP"))
	.Add(new TextField("Adres IP"), m => m.IpAddress)
	.Add(new TextField("Maska podsieci"), m => m.Netmask)
	.Add(new TextField("Brama domyślna"), m => m.Gateway)
	.Add(new TextField("Serwer DNS 1"), m => m.Dns1)
	.Add(new TextField("Serwer DNS 2"), m => m.Dns2)
	.Add(new FormHeader("Ustawienia Ethernet"))
	.Add(new TextField("Adres MAC"), m => m.MacAddress)
	.Add(new FormHeader("Ustawienia synchronizacji czasu"))
	.Add(new TextField("Serwer czasu"), m => m.TimeServer)
	.Add(new SubmitButton("Zapisz"));
}
