﻿@model FusionPOS.Domain.Tax
@using FusionSzef
@section commands {
	<li><a href="@Url.Action("ListTaxRates")">Anuluj</a></li>
}

@{ Html.Form(Url.Action("EditTaxRate"))
	.Add(new HiddenDataField(), m => m.Id)
	.Add(new TextField("Nazwa"), m => m.Name)
	.Add(new TextField("Stawka procentowa"), m => m.PercentValue)
	.Add(new SubmitButton("Zapisz"));
}
