@model FusionSzef.NetworkSettingsModel
@using FusionSzef
@section commands {
	<li><a href="@Url.Action("Index")">Anuluj</a></li>
}

@{ Html.Form()
	.Add(new FormHeader("Ustawienia drukowania"))
	.Add(new TextField("Adres IP"), m => m.IpAddress)
	.Add(new TextField("Model drukarki"), m => m.PrinterType)
	.Add(new SubmitButton("Zapisz"));
}
