@model FusionSzef.CompanyDataModel
@using FusionSzef
@section commands {
	<li><a href="@Url.Action("Index")">Anuluj</a></li>
}

@{ Html.Form("EditCompanyData")
	.Add(new TextField("Nazwa firmy"), m => m.Name)
	.Add(new TextField("Ulica"), m => m.Street)
	.Add(new TextField("Miejscowość"), m => m.City)
	.Add(new TextField("Kod pocztowy"), m => m.Zip)
	.Add(new TextField("Telefon"), m => m.Phone)
	.Add(new TextField("NIP"), m => m.Nip)
	.Add(new TextField("REGON"), m => m.Regon)
	.Add(new TextField("Nr konta"), m => m.BankAccount)
	.Add(new SubmitButton("Zapisz"));
}
