﻿@model FusionPOS.Domain.Currency
@using FusionSzef
@section commands {
	<li><a href="@Url.Action("ListCurrencies")">Anuluj</a></li>
}

@{ Html.Form(Url.Action("EditCurrency"))
	.Add(new HiddenDataField(), m => m.Id)
	.Add(new TextField("Nazwa"), m => m.Name)
	.Add(new TextField("Pełna nazwa"), m => m.LongName)
	.Add(new TextField("Przelicznik"), m => m.Ratio)
	.Add(new SubmitButton("Zapisz"));
}
