@using FusionSzef
@section commands {

}

<h3>Ustawienia przedsiębiorstwa</h3>	
<ul>	
	<li><a href="@Url.Action("EditCompanyData")">Dane przedsiębiorstwa</a></li>
	<li><a href="@Url.Action("EditInvoiceSettings")">Ustawienia fakturowania</a></li>
	<li><a href="@Url.Action("ListTaxRates")">Stawki VAT</a></li>
	<li><a href="@Url.Action("ListCurrencies")">Kursy walut</a></li>	
</ul>
<h3>Ustawienia serwera</h3>
<ul>
	<li><a href="@Url.Action("EditNetworkSettings")">Ustawienia sieci</a></li>	
	<li><a href="@Url.Action("EditPrinterConfig")">Ustawienia drukowania</a></li>
	<li><a href="@Url.Action("EditBackupConfig")">Ustawienia kopii zapasowych</a></li>
	<li><a href="@Url.Action("RebootServer")">Restart serwera</a></li>
</ul>
<h3>Status systemu i diagnostyka</h3>
<ul>
	<li><a href="@Url.Action("EditBackupConfig")">Informacje o systemie</a></li>
	<li><a href="@Url.Action("EditBackupConfig")">Informacje o wersji</a></li>
	<li><a href="@Url.Action("PingTraceoute")">Looking glass</a></li>	
</ul>

