@model FusionPOS.Domain.Tax
@using FusionSzef
@section commands {
	<li><a href="@Url.Action("EditTaxRate")">Dodaj stawkę VAT</a></li>
}

<h3>Stawki VAT:</h3>
<table
    feature="datatable"
    source="@Url.RouteUrl("AjaxList", new { domain = "Tax" })"
    row-edit="@Url.Action("EditTaxRate")">
        <td name="Nazwa" property="Name"/>
        <td name="Wartość" property="PercentValue"/>
</table>