@using FusionSzef
@section commands {

}

<h3>Waluty:</h3>
<table
    feature="datatable"
    source="@Url.RouteUrl("AjaxList", new { domain = "Currency" })"
    row-edit="@Url.Action("EditCurrency")">
        <td name="Nazwa" property="Name"/>
        <td name="Pełna nazwa" property="LongName"/>
        <td name="Główna?" property="MainCurrency"/>
        <td name="Przelicznik" property="Ratio"/>
</table>

<h3>Ustawienia walut:</h3>
@{ Html.Form<CurrencySettingsModel>((CurrencySettingsModel)ViewBag.CurrencySettings)
	.Add(new SelectField("Główna waluta", ViewBag.CurrencyList), m => m.MainCurrency.Id)
	.Add(new CheckboxField("Automatycznie pobieraj kursy walut"), m => m.AutoUpdate)
	.Add(new SubmitButton("Zapisz"));
}
