@using FusionSzef
@section commands {

}

@section script {
	$.instance = {
	
	}
	
	$().ready(function($) {
		$.instance.chart = new Highcharts.Chart({
			chart: {
				renderTo: "chart"
			},
			title: {
				text: "Obrót dobowy z dnia 2011-11-10"
			},
			xAxis: {
				title: { text: "Godziny" },
				type: "datetime"
			},
			yAxis: [
				{
					title: { text: "Obrót" },
					min: 0
				}			
			],
			plotOptions: {
				area: {
					lineWidth: 1,
					stacking: "normal",
					marker: {
						enabled: false,
						states: {
							hover: {
								enabled: true,
								radius: 5
							}
						}
					},
				}     
                        },
			series: [
				{
					pointInterval: 3600 * 1000,
					startDate: "@ViewBag.StartDate",
					name: "Obrót",
					data: /*@ViewBag.TurnoverOnsite,*/ [1,2,3,4,10,0,5,7,2,3,6,3,14],
					type: "area"
				},
				{
					pointInterval: 3600 * 1000,
					startDate: "@ViewBag.StartDate",
					name: "Ilość zamówień",
					data: /*@ViewBag.TurnoverDelivery,*/ [1,3,6,7,19,10,16,13,0,2,1,14,15],
					type: "area"
				}
			]
		});
	});
}

<div style="margin: 0px auto;"> 	
	<div class="box" style="float: left; width: 200px; margin-right: 10px;">		
		<div class="title">Podsumowanie:</div>
		@Html.Action("SummaryInfo")
	</div>
	<div class="box" style="float: right; width: 200px; margin-left: 10px;">
		<div class="title">Towar:</div>
		@Html.Action("WarehouseInfo")
	</div>
	<div style="float: left; width: 500px">
		<div id="chart">huj</div>
	</div>
</div>