@model FusionSzef.LoginModel
@using FusionSzef
@{
	Layout = "~/Views/Login.cshtml";
}
<div id="content">
	<h3>login</h3>
	<div id="login">
		@{ Html.Form("Login")
			.Add(new TextField("Nazwa uzytkownika"), m => m.Username)
			.Add(new TextField("Hasło"), m => m.Password)
			.Add(new SubmitButton("Zaloguj"));
		}
	</div>
</div>