﻿@{
	Layout = null;
}
<ul>
	<li><span>Pierwsze logowanie:</span> @ViewBag.FirstLogon<li>
	<li><span>Ilość zalogowanych pracowników:</span>@ViewBag.WaitersCount</li>
	<li><span>Dzisiejszy utarg:</span>@ViewBag.Takeover</li>
	<li><span>Dzisiejsza suma rabatów:</span>@ViewBag.TotalRebates</li>
	<li><span>Stan kasy:</span>@ViewBag.CashSum</li>
</ul>