﻿@{
	Layout = null;
}
<h5>Prawdopodobny brak produktów:</h5>
<ul>
@foreach (var i in ViewBag.Missing) {
	<li><a href="@Url.Action("Edit", "Ingredients", new { Id = i.Id })">@i.Name</a></li>
}
</ul>	
<h5>Kończą się:</h5>
<ul>
@foreach (var i in ViewBag.Exhausting) {
	<li><a href="@Url.Action("Edit", "Ingredients", new { Id = i.Id })">@i.Name</a></li>
}
</ul>