﻿@model FusionPOS.Domain.IngredientCategory
@using FusionSzef
@section commands {
	<li><a href="@Url.Action("List")">Anuluj</a></li>
}

Czy na pewno chcesz usunąć kategorię @Model.Name?

<a href="@Url.Action("DeleteCategory", new { id = Model.Id, confirm = 1 })">Tak</a>
<a href="@Url.Action("List")">Nie</a>