﻿@model FusionPOS.Domain.IngredientGroup
@using FusionSzef
@section commands {

}

@section script {
	$.instance = {
		ingredients: @Html.Raw(ViewBag.Ingredients)
	};
	
	$(function() {
		$("#add-ingredient").click(function(event, data) {
			$("#ingredients").dataTable().fnAddData({Id: 0, Name: ""});
		});
	
	});
}

@using(var form = Html.Form(Url.Action("EditGroup"))) {
<text>
	@{ form
		.Add(new HiddenDataField(), m => m.Id)
		.Add(new TextField("Nazwa"), m => m.Name); 
	}
	<h2>Produkty w grupie:</h2>
	<table feature="datatable" id="ingredients" data="$.instance.ingredients" large="false" sortable="false">
		<td name="Nazwa grupy" property="Name">
			<input feature="autocomplete" hidden-id="Ingredients[{{iDataRow}}].Id" value-id="{{aData.Id}}" value-name="{{aData.Name}}"
			    remote="@Url.RouteUrl("AjaxListAutocomplete", new { domain = "Ingredient"})"/>
		</td>
		<td class="hidden">{{#__indexer}}Ingredients{{/__indexer}}</td>
		<td name="Usuń">{{{__delete}}}</td>	
	</table>
	<button type="button" id="add-ingredient">Dodaj składnik</button>
	@{ form.Add(new SubmitButton("Zapisz")); }
</text>
}