﻿@model FusionPOS.Domain.IngredientCategory
@using FusionSzef
@section commands {
	<li><a href="@Url.Action("List")">Anuluj</a></li>
}

@{ Html.Form("EditCategory")
	.Add(new HiddenDataField(), m => m.Id)
	.Add(new TextField("Nazwa"), m => m.Name)
	.Add(new SelectField("Kategoria nadrzędna", ViewBag.Categories), m => m.Parent.Id)
	.Add(new SubmitButton("Zapisz"));
}