﻿@model FusionPOS.Domain.Ingredient
@using FusionSzef
@section commands {
	<li><a href="@Url.Action("List")">Anuluj</a></li>
}

@section script {
	$.instance = {
		groups: @Html.Raw(ViewBag.Groups),	
	}
	
	$(function() {
		$("#add-group").click(function(event, data) {
			$("#groups").dataTable().fnAddData({Id: 0, Name: ""});
			$("#group").val("");
		});
	});
}

@using(var form = Html.Form(Url.Action("Edit"))) {
<text>
	@{ form
		.Add(new HiddenDataField(), m => m.Id)
		.Add(new TextField("Nazwa"), m => m.Name)
		.Add(new SelectField("Jednostka miary", Extensions.ReadEnum(typeof(FusionPOS.Domain.UnitOfMeasure))), m => m.Unit)
		.Add(new TextField("Ilość na stanie"), m => m.Quantity)
		.Add(new TextField("Minimalna ilość"), m => m.MinimumQuantity)
		.Add(new AutocompleteField("Kategoria", Url.RouteUrl("AjaxListAutocomplete", new { domain = "IngredientCategory" })), m => m.Category);
	}
	
	<h2>Dodaj do grup:</h2>
	<table feature="datatable" id="groups" data="$.instance.groups" large="false" sortable="false">
		<td name="Nazwa grupy" property="Name">
			<input feature="autocomplete" hidden-id="Groups[{{iDataRow}}].Id" value-id="{{aData.Id}}" value-name="{{aData.Name}}"
			    remote="@Url.RouteUrl("AjaxListAutocomplete", new { domain = "IngredientGroup"})"/>
		</td>
		<td class="hidden">{{#__indexer}}Groups{{/__indexer}}</td>
		<td name="Usuń">{{{__delete}}}</td>		
	</table>
	<button type="button" id="add-group">Dodaj</button>
	@{ form.Add(new SubmitButton("Zapisz")); }
</text>
}