﻿@using FusionSzef
@using FusionPOS.Translations
@section subsections {
	<li><a href="@Url.Action("List")">Składniki</a></li>
	<li><a href="@Url.Action("Index", "IncomingInvoices")">Faktury zakupowe</a></li>

}

@section commands {
	<li><a href="@Url.Action("EditGroup")">Dodaj grupę składników</a></li>
}

<table
    feature="datatable"
    source="@Url.RouteUrl("AjaxList", new { domain = "IngredientGroup" })"
    row-edit="@Url.Action("EditGroup")">
	<td name="Nazwa" property="Name"/>
	<td name="Usun" property="Id" class="noclick">{{#__deleteLink}}@Url.Action("DeleteGroup", "Ingredients"){{/__deleteLink}}</td>
</table>