﻿@using FusionSzef
@using FusionPOS.Translations
@section subsections {
	<li><a href="@Url.Action("ListGroups")">Grupy składników</a></li>
	<li><a href="@Url.Action("Index", "IncomingInvoices")">Faktury zakupowe</a></li>
}

@section commands {
	<li><a id="add-category">@("Ingredients.AddSubcategory".Tr())</a></li>
	<li><a id="edit-category">@("Ingredients.EditCategory".Tr())</a></li>
	<li><a id="add-ingredient">@("Ingredients.AddIngredient".Tr())</a></li>
	<li><a id="delete-category">Usuń kategorie</a></li>
}

@section script {
	$.instance = {
		selected: @Html.Raw(Json.Encode(ViewBag.Selected))
	};
	
	$(function() {
		$("#add-category").click(function(event, data) {
			$.pos.go(["Ingredients", "EditCategory"], {parent: $.instance.selected.Id}); 
		});
	
		$("#edit-category").click(function(event, data) {
			$.pos.go(["Ingredients", "EditCategory", $.instance.selected.Id]);
		});
	
		$("#add-ingredient").click(function(event, data) {
			$.pos.go(["Ingredients", "Edit"], {parentId: $.instance.selected.Id}); 
		});
		
		$("#delete-category").click(function(event, data) {
			$.pos.go(["Ingredients", "DeleteCategory", $.instance.selected.Id]);
		});
	
		$("#tree").delegate("a", "click", function (event, data) { 
			$.instance.selected = $(event.target).parent().data();
			$("#selected").text($.instance.selected.Name);
			$("#categories").dataTable().fnReloadAjax($.pos.route(["Ingredients", "AjaxList", $.instance.selected.Id]));
		});
	});
}

<div feature="treeview" id="tree" class="tree" source="@Url.Action("AjaxTree")"></div>
<h2>Kategoria: <span id="selected">@ViewBag.Selected.Name</span></h2>	
<table 
    id="categories" 
    feature="datatable"
    type="short"
    source="@Url.Action("AjaxList", new { Id = ViewBag.Selected.Id })"
    row-edit="@Url.Action("Edit", "Ingredients")">
	<td name="Nazwa">{{aData.Name}}</td>
	<td name="Jednostka miary">{{aData.Unit}}</td>
	<td name="Ilość na stanie">{{aData.Quantity}}</td>
	<td name="Usun" property="Id" class="noclick">{{#__deleteLink}}@Url.Action("Delete", "Ingredients"){{/__deleteLink}}</td>
</table>