@model FusionPOS.Domain.Client
@using FusionSzef
@section commands {
	<li><a href="@Url.Action("List")">Wróć</a></li>
	<li><a href="@Url.Action("Edit", new { Id = Model.Id })">Edytuj składnik</a></li>
}

<h2>@Model.Name</h2>

<h2>Historia zmian:</h2>
<table>

</table>