@model FusionPOS.Domain.Reservation
@using FusionPOS.Domain
@using FusionSzef

@section commands {
	<li><a href="@Url.Action("List")">Lista rezerwacji</a></li>
}

@if ( ViewBag.Monthly == 0 )
{
  <div>
   <table width="100%">
    <tr>
     <td width="10%">
      <a href="@Url.Action("Calendar", "Reservations",
       new {year = ViewBag.From.AddDays(-7).Year, month = ViewBag.From.AddDays(-7).Month, day = ViewBag.From.AddDays(-7).Day})">Wcześniej</a>
     </td>
     <td>Od: @ViewBag.From.ToString("dd-MM-yyy") do: @ViewBag.To.ToString("dd-MM-yyy")</td>
     <td width="10%">
      <a href="@Url.Action("Calendar", "Reservations",
       new {year = ViewBag.From.AddDays(7).Year, month = ViewBag.From.AddDays(7).Month, day = ViewBag.From.AddDays(7).Day})">Później</a>
     </td>
    </tr>
   </table>
   <table width="100%">
    <tr>
     <th width="10%">Godzina</th>
	@for(int i=0; i<7; ++i)
	{
		@:<th width="13%"><p>
		@((DayOfWeek)(i+1<7 ? i+1 : 0))
		@:</p><p>
		@ViewBag.From.AddDays(i).ToString("dd-MM")
		@:</p></th>
	}
    </tr>

	@{
		
		IEnumerable<Reservation> res = ViewBag.Entities;
		DateTime now = new DateTime(ViewBag.From.Year, ViewBag.From.Month, ViewBag.From.Day,
					ViewBag.StartHour.Hour, ViewBag.StartHour.Minute, ViewBag.StartHour.Second);
	}
	@for(double i=ViewBag.StartHour.Hour; i<ViewBag.EndHour.Hour; i+=1)
	{
		DateTime dayA = new DateTime(now.Year, now.Month, now.Day, now.Hour, now.Minute, now.Second);
		DateTime dayB = new DateTime(now.Year, now.Month, now.Day, now.Hour, now.Minute, now.Second);
		@:<tr>
		dayB = dayB.AddMinutes(60);
		@:<td>@dayA.ToString("hh:mm") - @dayB.ToString("hh:mm")</td>
		for(int j=0; j<7; ++j)
		{
			@:<td>
			foreach(Reservation r in res.Where(p => p.Date>=dayA && p.Date<=dayB))
			{
			<text>
				<ol>
				String.Format("<li><a href="#">{0}</a></li>", r.ParentClient.Name)
				</ol>
			</text>
			}
			@:</td>
			dayA.AddDays(1);
			dayB.AddDays(1);
		}

		@:</tr>
		now = now.AddMinutes(60);
	}
	
     <tr>
      <td colspan="8"><a href="@Url.Action("Calendar", "Reservations",
       new {year=ViewBag.From.Year, month=ViewBag.From.Month, day=1, monthly=1})">Widok miesięczny</a></td>
    </tr>
   </table>
  </div>
} else {
  @:<div>
   <table width="100%">
    <tr>
     <td width="10%">
      <a href="@Url.Action("Calendar", "Reservations",
       new {year = ViewBag.From.AddMonths(-1).Year, month = ViewBag.From.AddMonths(-1).Month, 
       day = ViewBag.From.AddMonths(-1).Day, monthly=1})">Wcześniej</a>
     </td>
     <td>Od: @ViewBag.From.ToString("MM-yyyy") do: @ViewBag.To.ToString("MM-yyyy")</td>
     <td width="10%">
      <a href="@Url.Action("Calendar", "Reservations",
       new {year = ViewBag.From.AddMonths(1).Year, month = ViewBag.From.AddMonths(1).Month, 
       day = ViewBag.From.AddMonths(1).Day, monthly=1})">Później</a>
     </td>
    </tr>
   </table>
   @:<table width=100%>
    @:<tr>
     	for(int i=0; i<7; ++i)
	{
		@:<th width="13%"><p>
		@((DayOfWeek)(i+1<7 ? i+1 : 0))
		@:</p></th>
	}	
   @:</tr>
   	

	DateTime now = new DateTime(ViewBag.From.Year, ViewBag.From.Month, 1, 0, 0, 0);
		
	@:<tr>
	if((int)now.DayOfWeek != 1)
	{
		@:<td colspan="@((int)now.DayOfWeek-1>=0 ? (int)now.DayOfWeek-1 : 6)"> </td>
	}

	
	for(int i=1; i<=DateTime.DaysInMonth(ViewBag.From.Year, ViewBag.From.Month); ++i)
	{
		if( ((int)now.DayOfWeek == 1) && (i!=1) )
		{
			@:</tr>
			@:<tr>
		}
		@:<td><p>@now.ToString("dd")</p>
		
		IEnumerable<Reservation> res = ViewBag.Entities;
		foreach(Reservation r in res.Where(p => (p.Date.Day == now.Day) && (p.Date.Month == now.Month) ))
		{
			<text>
				<p> * <a href="#">@r.Date.ToString("mm:hh") @r.ParentClient.Name</a></p>
			</text>
		}
		@:</td>
		now = now.AddDays(1);
	}
    @:</tr>
    <text>
    <tr>
     <td colspan="8"><a href="@Url.Action("Calendar", "Reservations",
       new {year=ViewBag.From.Year, month=ViewBag.From.Month, day=1, monthly=0})">Widok tygodniowy</a></td>
     </tr>
    </text>
   @:</table>
  @:</div>
}