@model FusionPOS.Domain.Reservation
@using FusionSzef
@section commands {
	<li><a href="@Url.Action("List")">Anuluj</a></li>
	<li><a class="submit">Zapisz</a></li>
}

@{ Html.Form()
	.Add(new HiddenDataField(), m => m.Id)
	.Add(new TextField("Data", "datepicker"), m => m.Date)
	.Add(new AutocompleteField("Klient", Url.RouteUrl("AjaxListAutocomplete", new { domain = "Client" })), m => m.ParentClient)
	.Add(new AutocompleteField("Stolik", Url.RouteUrl("AjaxListAutocomplete", new { domain = "Table" })), m => m.ParentTable)
	.Add(new SubmitButton("Zapisz"));
}


