﻿@using FusionSzef
@using FusionPOS.Translations
@section subsections {
	<li><a href="@Url.Action("Index", "Clients")">Klienci</a></li>
	<li><a href="@Url.Action("Index", "Reservations")">Rezerwacje</a></li>
}

@section commands {
	<li><a href="@Url.Action("Edit")">Dodaj rezerwację</a></li>
	<li><a href="@Url.Action("Calendar")">Kalendarz rezerwacji</a></li>
}

<table
    feature="datatable"
    source="@Url.RouteUrl("AjaxList", new { domain = "Reservation" })"
    row-edit="@Url.Action("Edit")">
	<td name="Data" property="Date" type="date"/>
	<td name="Klient" property="ParentClient.Name"/>
	<td name="Stolik" property="ParentTable.Name"/>
	<td name="Usuń" property="Id" class="noclick">{{#__deleteLink}}@Url.Action("Delete"){{/__deleteLink}}</td>
</table>
