﻿@model FusionPOS.Domain.DishCategory
@using FusionSzef
@section commands {
	<li><a href="@Url.Action("List")">Anuluj</a></li>
	<li><a class="submit">Zapisz</a></li>
}

@{ Html.Form("/Categories/Edit")
	.Add(new HiddenDataField(), m => m.Id)
	.Add(new TextField("Nazwa"), m => m.Name)
	.Add(new TextField("Kolor"), m => m.Color)
	.Add(new SelectField("Kategoria nadrzędna", ViewBag.Categories), m => m.Parent.Id)
	.Add(new SubmitButton("Zapisz"));
}