﻿@using FusionSzef

@section subsections {
	<li><a href="@Url.Action("List", "Categories")">Produkty i kategorie</a></li>
	<li>@Html.ActionLink("Grupy produktów", "ListGroups", "Dishes")</li>
}

@section commands {
	<li><a id="add-category">Dodaj podkategorię</a></li>
	<li><a id="edit-category">Edytuj kategorię</a></li>
	<li><a id="delete-category">Usuń tą kategorię</a></li>
	<li><a id="add-dish">Dodaj potrawę w tej kategorii</a></li>
}

@section script {
	$.instance = {
		selected: @Html.Raw(Json.Encode(ViewBag.Selected))
	};
	
	$(function() {
		$("#add-category").click(function(event, data) {
			$.pos.go(["Categories", "Edit"], {parent: $.instance.selected.Id}); 
		});
	
		$("#edit-category").click(function(event, data) {
			$.pos.go(["Categories", "Edit", $.instance.selected.Id]);
		});
		
		$("#delete-category").click(function(event, data) {
			$.pos.go(["Categories", "Delete", $.instance.selected.Id]);
		});
		
		$("#add-dish").click(function(event, data) {
			$.pos.go(["Dishes", "Edit"], {parent: $.instance.selected.Id}); 
		});
	
		$("#tree").delegate("a", "click", function (event, data) { 
			$.instance.selected = $(event.target).parent().data();
			$("#selected").text($.instance.selected.Name);
			$("#categories").dataTable().fnReloadAjax($.pos.route(["Dishes", "AjaxList", $.instance.selected.Id]));
		});
	});
}	
		
<div feature="treeview" id="tree" class="tree" source="@Url.Action("AjaxTree")"></div>	
<h3>Kategoria: <span id="selected">@ViewBag.Selected.Name</span></h3>	
<table 
    id="categories" 
    feature="datatable"
    type="short"
    source="@Url.Action("AjaxList", "Dishes", new { Id = ViewBag.Selected.Id })"
    row-edit="@Url.Action("Edit", "Dishes")">
	<td name="Nazwa">{{aData.Name}}</td>
	<td name="Cena">{{aData.Price}}</td>
	<td name="Cena końcowa">{{aData.EffectivePrice}}</td>
	<td name="Usun" property="Id" class="noclick">{{#__deleteLink}}@Url.Action("Delete", "Dishes"){{/__deleteLink}}</td>
</table>	
