@using FusionSzef
@model FusionSzef.CargoReportModel
@section commands
{

}

@section script
{
	$(function() {
		$("#add-category").click(function() {
			$("#categories").dataTable().fnAddData({});
		});
		
		$("#add-group").click(function() {
			$("#groups").dataTable().fnAddData({});
		});
		
		$("#add-item").click(function() {
			$("#items").dataTable().fnAddData({});
		});
	});
}

<h1>Raporty towarowe</h1>

@using(var form = Html.Form(Url.Action("GetCargoReport"))) {
<text>
	@{ form
		.Add(new TextField("Od", "datepicker"), m => m.FromDate)
		.Add(new TextField("Do", "datepicker"), m => m.ToDate);
	}
	
	<h2>Filtr kategorii składników:</h2>
	<table feature="datatable" id="categories" large="false" sortable="false" data="[]" style="width: 50%;">
		<td name="Nazwa kategorii">
			<input feature="autocomplete" hidden-id="CategoryFilter[{{iDataRow}}]" remote="@Url.RouteUrl("AjaxListAutocomplete", new { domain = "IngredientCategory" })"/>
		</td>
		<td class="hidden">{{#__indexer}}CategoriesFilter{{/__indexer}}</td>
		<td width="20px">{{{__delete}}}</td>
	</table>
	<button type="button" id="add-category">Dodaj kategorię</button>
	
	<h2>Filtr grup składników:</h2>
	<table feature="datatable" id="groups" large="false" sortable="false" data="[]" style="width: 50%;">
		<td name="Nazwa grupy">
			<input feature="autocomplete" hidden-id="GroupFilter[{{iDataRow}}]" remote="@Url.RouteUrl("AjaxListAutocomplete", new { domain = "IngredientGroup" })"/>
		</td>
		<td class="hidden">{{#__indexer}}GroupsFilter{{/__indexer}}</td>
		<td width="20px">{{{__delete}}}</td>
	</table>
	<button type="button" id="add-group">Dodaj grupę</button>
	
	<h2>Filtr składników:</h2>
	<table feature="datatable" id="items" large="false" sortable="false" data="[]" style="width: 50%;">
		<td name="Nazwa kategorii">
			<input feature="autocomplete" hidden-id="Filter[{{iDataRow}}].Id" remote="@Url.RouteUrl("AjaxListAutocomplete", new { domain = "Ingredient" })"/>
		</td>
		<td width="20px">{{{__delete}}}</td>
	</table>
	<button type="button" id="add-item">Dodaj składnik</button>
	@{ form.Add(new SubmitButton("Generuj raport")); }
</text>
}