@using FusionSzef
@model FusionSzef.FinancialReportModel
@section commands
{

}

@section script
{	
	$(function() {
		$("#add-category").click(function() {
			$("#categories").dataTable().fnAddData({});
		});
		
		$("#add-group").click(function() {
			$("#groups").dataTable().fnAddData({});
		});
		
		$( "#tabs" ).bind( "tabsselect", function(event, ui) {
			$("#report-type").val(ui.panel.id);
		});
	});
}

<h1>Raporty finansowe</h1>
@using(var form = Html.Form("GetFinancialReport")) {
	<h2>Filtr kategorii składników:</h2>
	<table feature="datatable" id="categories" large="false" sortable="false" data="[]" style="width: 50%;">
		<td name="Nazwa kategorii">
			<input feature="autocomplete" hidden-id="CategoryFilter[{{iDataRow}}]" remote="@Url.RouteUrl("AjaxListAutocomplete", new { domain = "DishCategory" })"/>
		</td>
		<td width="20px">{{{__delete}}}</td>
	</table>
	<input id="report-type" name="reportType" type="hidden">time</input>
	<button type="button" id="add-category">Dodaj kategorię</button>
	
	<h2>Filtr grup składników:</h2>
	<table feature="datatable" id="groups" large="false" sortable="false" data="[]" style="width: 50%;">
		<td name="Nazwa grupy">
			<input feature="autocomplete" hidden-id="GroupFilter[{{iDataRow}}]" remote="@Url.RouteUrl("AjaxListAutocomplete", new { domain = "DishGroup" })"/>
		</td>
		<td width="20px">{{{__delete}}}</td>
	</table>
		//for(int i=0; i<5; ++i) 
		//{
			<text><br></text>
		//}
	<button type="button" id="add-group">Dodaj grupę</button>
	<div id="tabs" feature="tabs">	
		<ul>
			<li><a href="#time-tab">Raport czasowy</a></li>
			<li><a href="#settle-tab">Raport zmiany</a></li>
		</ul>
		<div id="time-tab" class="form">
			<text>
				@{ form
					.Add(new TextField("Od", "datepicker"), m => m.FromDate)
					.Add(new TextField("Do", "datepicker"), m => m.ToDate)
					.Add(new AutocompleteField("Kelner", Url.RouteUrl("AjaxListAutocomplete", new { domain = "User" })), m => m.User);
				}
			</text>
		</div>
		<div id="settle-tab" class="form">
			<table feature="datatable" id="settlements" large="true" sortable="true" source="@Url.RouteUrl("AjaxListServer", new { domain = "Settlement" })" style="width: 50%;">
				<td name="data od"></td>
				<td name="data do"></td>
				<td name="otwierający"></td>
				<td name="zamykający"></td>
			</table>
		</div>
	</div>
	
	form.Add(new SubmitButton("Generuj raport"));
}

