@section commands {
}

<ul>
	<li><a href="@Url.Action("CargoReport")">Raporty towarowe</a></li>
	<li><a href="@Url.Action("FinancialReport")">Raporty finansowe</a></li>
	<li><a href="@Url.Action("Stocktaking")">Inwentaryzacja</a></li>
	<li><a href="@Url.Action("OutgoingInvoices")">Faktury VAT</a></li>
</ul>