/* 
    Document   : admin
    Created on : 2009-08-02, 22:03:53
    Author     : jceel
    Description:
        Purpose of the stylesheet follows.
*/


@font-face {
	font-family: "Candara";
	src: url("/Content/Candara.ttf");
}

body
{
	margin: 0px;
	padding: 0px;
	font-family: Sans, Lucida Grande, Bitstream Vera Sans, sans-serif;
	font-size: 70%;
}

a
{
	text-decoration: none;
}

a:hover
{
	color: #555;
}

a img, a:hover img
{
	border: none;
}

h2
{
	font-size: 150%;
	font-weight: bold;
	margin: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #b30000;
}

h3
{
	margin: 0;
	padding: 2px;
}

h6
{
	font-size: 110%;
	font-weight: bold;
	color: #435D90;
	padding-top: 2px;
	padding-bottom: 2px;
	margin: 0px;
}

hr
{
	height: 1px;
	margin: 5px;
	margin-left: 0;
	margin-right: 0;
	border: none;
	border-top: 1px solid #ccc;
}

hr .dotted
{
	height: 1px;
	margin: 5px;
	border: none;
	border-top: 1px dotted #999;
}

input
{
	border: 1px solid #666;
}

#menu
{
	position: absolute;
	list-style-type: none;
	border: 1px solid rgb(114,147,196);
	color: #fff;
	display: none;
	padding: 0;
	width: 240px;
	background-image: linear-gradient(bottom, rgb(21,43,84) 0%, rgb(114,147,196) 100%);
	background-image: -o-linear-gradient(bottom, rgb(21,43,84) 0%, rgb(114,147,196) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(21,43,84) 0%, rgb(114,147,196) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(21,43,84) 0%, rgb(114,147,196) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(21,43,84) 0%, rgb(114,147,196) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(21,43,84)),
		color-stop(1, rgb(114,147,196))
	);
}

#menu li
{
	font-weight: bold;
}

#menu li:hover
{
	background-image: linear-gradient(bottom, rgb(82,21,21) 0%, rgb(212,142,142) 100%);
	background-image: -o-linear-gradient(bottom, rgb(82,21,21) 0%, rgb(212,142,142) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(82,21,21) 0%, rgb(212,142,142) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(82,21,21) 0%, rgb(212,142,142) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(82,21,21) 0%, rgb(212,142,142) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(82,21,21)),
		color-stop(1, rgb(212,142,142))
	);
}

#menu li a
{
	display: block;
	padding: 10px;
}

#wrap
{
	width: 1000px;
	margin: 0 auto;
	background-image: linear-gradient(bottom, rgb(246,249,251) 25%, rgb(212,225,235) 63%);
	background-image: -o-linear-gradient(bottom, rgb(246,249,251) 25%, rgb(212,225,235) 63%);
	background-image: -moz-linear-gradient(bottom, rgb(246,249,251) 25%, rgb(212,225,235) 63%);
	background-image: -webkit-linear-gradient(bottom, rgb(246,249,251) 25%, rgb(212,225,235) 63%);
	background-image: -ms-linear-gradient(bottom, rgb(246,249,251) 25%, rgb(212,225,235) 63%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.25, rgb(246,249,251)),
		color-stop(0.63, rgb(212,225,235))
	);
}

#wrap #top
{
	border: 1px solid #cccdc8;
	border-bottom: none;
	background: #f6f4e7;
	margin: 10px;
	margin-bottom: 0;
	-webkit-border-top-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topright: 15px;
}

#wrap #top #title
{
	-webkit-border-top-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	background: #48759f;
	color: #fff;
	font-size: 160%;
	margin: 10px;
	margin-bottom: 0;
	padding: 10px;
}

#wrap #top #title #company-name
{
	float: right;
	padding-right: 5px;
}
/*
#wrap #menu
{
	padding-left: 2px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

#wrap #menu .button
{
	float: left;
	margin: 5px;
	margin-right: 2px;
	margin-left: 3px;
	padding: 10px 0 0 0;
	border: 1px solid #b49580;
	text-align: center;
	letter-spacing: -1px;
	width: 83px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#wrap #menu .button a:hover
{
	
}

#wrap #menu .button img
{
	padding: 5px;
	margin: 0px;
}

#wrap #menu .button .title a
{
	display: block;
	background: #c4a48b;
	color: #fff;
	padding: 5px;
}

#wrap #menu .button .title a:hover
{
	background: #E4D2C3;
	color: #444;
}*/

#wrap #main
{
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background-image: Url("/Content/images/watermark.png");
	background-repeat: no-repeat;
	background-position: bottom right;
}

#wrap #main #commands
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#wrap #main #commands li
{
	float: left;
	border: 1px solid #376c92;
	border-top: none;
	color: #fff;
	background: #4d78a2;
	padding: 6px;
	margin-right: 2px;
	margin-bottom: 5px;
}

#wrap #main #commands li a
{
	color: #fff;
}


#wrap #main #subsections
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	clear: both;
}

#wrap #main #subsections li
{
	float: left;
	border: 1px solid #376c92;
	border-top: none;
	color: #fff;
	background: #4da278;
	padding: 6px;
	margin-right: 2px;
	margin-bottom: 5px;
}

#wrap #main #subsections li a
{
	color: #fff;
}

#wrap #top-buttons
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#wrap #top-buttons li
{
	float: left;
	font-family: Candara;
	font-size: 140%;
	width: 140px;
	height: 76px;
	border-right: 1px solid #28495b;
	border-left: 1px solid #6381b0;
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;
	background-image: linear-gradient(bottom, rgb(21,43,84) 0%, rgb(114,147,196) 100%);
	background-image: -o-linear-gradient(bottom, rgb(21,43,84) 0%, rgb(114,147,196) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(21,43,84) 0%, rgb(114,147,196) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(21,43,84) 0%, rgb(114,147,196) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(21,43,84) 0%, rgb(114,147,196) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(21,43,84)),
		color-stop(1, rgb(114,147,196))
	);
}

#wrap #top-buttons li:last-child
{
	width: 145px;
}

#wrap #top-buttons li:hover
{
	background-image: linear-gradient(bottom, rgb(82,21,21) 0%, rgb(212,142,142) 100%);
	background-image: -o-linear-gradient(bottom, rgb(82,21,21) 0%, rgb(212,142,142) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(82,21,21) 0%, rgb(212,142,142) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(82,21,21) 0%, rgb(212,142,142) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(82,21,21) 0%, rgb(212,142,142) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(82,21,21)),
		color-stop(1, rgb(212,142,142))
	);
}

#wrap #top-buttons li a
{
	color: #ccc;
	font-weight: bold;
}

#wrap #top-buttons li:hover a
{
	color: #fff;
}


#wrap #bottom-buttons
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#wrap #bottom-buttons li
{
	float: left;
	font-family: Candara;
	font-size: 140%;
	height: 103px;
	padding-top: 70px;
	text-align: center;
	background-repeat: no-repeat;
}

#wrap #bottom-buttons li:nth-child(1)
{
	background-image: url('/Content/images/buttons/manager_09.png');
	width: 26px;
}

#wrap #bottom-buttons li:nth-child(2)
{
	background-image: url('/Content/images/buttons/manager_10.png');
	width: 136px;
}

#wrap #bottom-buttons li:nth-child(3)
{
	background-image: url('/Content/images/buttons/manager_11.png');
	width: 21px;
}

#wrap #bottom-buttons li:nth-child(4)
{
	background-image: url('/Content/images/buttons/manager_12.png');
	width: 140px;
}

#wrap #bottom-buttons li:nth-child(5)
{
	background-image: url('/Content/images/buttons/manager_13.png');
	width: 22px;
}

#wrap #bottom-buttons li:nth-child(6)
{
	background-image: url('/Content/images/buttons/manager_14.png');
	width: 140px;
}

#wrap #bottom-buttons li:nth-child(7)
{
	background-image: url('/Content/images/buttons/manager_15.png');
	width: 24px;
}

#wrap #bottom-buttons li:nth-child(8)
{
	background-image: url('/Content/images/buttons/manager_16.png');
	width: 140px;
}

#wrap #bottom-buttons li:nth-child(9)
{
	background-image: url('/Content/images/buttons/manager_17.png');
	width: 27px;
}

#wrap #bottom-buttons li:nth-child(10)
{
	background-image: url('/Content/images/buttons/manager_18.png');
	width: 136px;
}

#wrap #bottom-buttons li:nth-child(11)
{
	background-image: url('/Content/images/buttons/manager_19.png');
	width: 23px;
}

#wrap #bottom-buttons li:nth-child(12)
{
	background-image: url('/Content/images/buttons/manager_20.png');
	width: 136px;
}

#wrap #bottom-buttons li:nth-child(13)
{
	background-image: url('/Content/images/buttons/manager_21.png');
	width: 29px;
}


#wrap #main #content
{
	padding-top: 20px;
}

#wrap #main #content a
{
	color: #555;
}

#wrap #main #content a:hover
{
	border-bottom: 1px dotted #aaa;
}

#wrap #main #content table
{
	background-color: rgba(255, 255, 255, 0.8);
}

#wrap #main #content table td
{
	border-bottom: 1px dotted #ccc;
	border-right: 1px dotted #ccc;
	padding: 3px;
}

#wrap #main #content table tr:last-child td
{
	border-bottom: none;
}

#wrap #main #content table th
{
	padding: 5px;
	font-weight: bold;
	text-align: left;
	background-color: #203e75;
	border-bottom: 1px dotted #888;
	color: #fff;
}

#wrap #main #content table .hidden
{
	display: none;
}

#wrap #main #content ul
{
	padding: 0;
}

#wrap #main #content ul li
{
	list-style-type: none;
}

.sorting_asc {
	background: url('/Content/images/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('/Content/images/sort_desc.png') no-repeat center right;
}

.sorting {
	background: url('/Content/images/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('/Content/images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('/Content/images/sort_desc_disabled.png') no-repeat center right;
}

#wrap #main #content table .empty
{
	text-align: center;
	font-size: 150%;
	padding: 20px;
}

#wrap #main #content #nav .button a
{
	padding: 5px;
	color: #365c80 !important;
	font-weight: bold;
}

#wrap #main #content div.box
{
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 5px;
}

#wrap #main #content div.box div.title
{
	margin: -10px;
	padding: 5px;
	font-size: 140%;
	color: #ccc;
}

#wrap div.login
{
	border: 1px solid #7189bf;
}

div .form h3
{
	font-size: 10px;
	color: #777;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: right;
	width: 120px;
}

div .form > span
{
	display: block;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: middle;
	clear: both;
}

div .form > span label
{
	display: block;
	float: left;
	width: 120px;
	vertical-align: middle;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: right;
}

div .form > span img
{
	padding: 3px;
}

div .form input[type=checkbox]
{
	width: auto;
	margin-top: 5px;
	margin-bottom: 3px;
}

div .form > span caption
{
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
}

div .form > span label.error
{
	display: block;
	clear: both;
	margin-left: 125px;
	width: 250px;
	vertical-align: middle;
	margin-top: 3px;
	margin-bottom: 3px;
	padding: 3px;
	text-align: right;
	background-color: #c13e3e;
	color: #fff;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}

div .form > span label.hint
{
	display: block;
	margin-left: 125px;
	width: 150px;
	text-align: left;
	vertical-align: middle;
	margin-top: 3px;
	margin-bottom: 3px;
	padding: 3px;
	padding-left: 30px;
	border: 1px solid #CBD125;
	background: #FEFF8A url(%ROOT%/images/formHint.png) 8px 8px no-repeat;
	color: #000;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}

div .form > span input, div .form > span select, div .form > span button
{
	width: 250px;
	font-size: 95%;
	padding: 2px;
	margin: 1px;
}

input.search
{
	background-image: url("/Content/images/search.png");
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 15px !important;
}

input.datepicker
{
	background-image: url("/Content/images/calendar.png");
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 15px !important;
	width: 237px !important;
}

div .form > span textarea
{
	width: 250px;
	height: 250px;
	border: 1px solid #666;
	padding: 2px;
	margin: 1px;
}


div .form .short
{
	width: 100px !important;
}

div .form select
{
	width: 256px !important;
}

div .form input[type=submit], button
{
	padding: 5px;
	width: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #39669e;
	background-image: linear-gradient(bottom, rgb(136,165,201) 0%, rgb(235,244,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(136,165,201) 0%, rgb(235,244,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(136,165,201) 0%, rgb(235,244,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(136,165,201) 0%, rgb(235,244,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(136,165,201) 0%, rgb(235,244,255) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(136,165,201)),
		color-stop(1, rgb(235,244,255))
	);
}

div .form input.combobox
{
	background-image: url("/Content/images/arrow_down.gif");
	background-repeat: no-repeat;
	background-position: center right;
	margin-right: 5px;    
}

div .tree
{
	float: left;
	width: 240px;
	border: 1px solid #39669e;
	background: #fff;
	margin-right: 10px;
}

div .tree ul
{
}

div .tree ul li
{
	list-style-type: none;
}

div .tree ul li a:hover
{
	font-weight: bold;
	border: none !important;
}


div .tree .selected
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #4d78a2;
	color: #fff !important
}

div .toolbar
{
	padding: 0;
	margin: 0;
	vertical-align: middle;
}

div .toolbar ul
{
	padding: 2px;
	margin: 0;
}

div .toolbar ul li
{
	list-style-type: none;
	float: left;
	padding: 3px;
	margin: 0;
	vertical-align: center;
	height: 25px;
}

div .toolbar button
{
	border: 1px solid #666;
	font-size: 95%;
	padding: 2px;
	margin: 1px;
}

div .toolbar .separator
{
	margin-left: 2px;
	margin-right: 2px;
	padding: 0;
	width: 1px;
	height: 20px;
	border-left: 2px dotted #555;
}

table.pairlist
{
	border: none;
}

table.pairlist td
{
	border: none !important;
}

table.pairlist td:nth-child(1)
{
	font-weight: bold;
	text-align: right;
}

.floatleft
{
	float: left;
	margin-right: 20px;
}

.ui-tabs-nav
{
	list-style: none;
	padding-left: 0;
}

.ui-tabs-nav li a
{
	float: left;
	display: block;
	text-align: center;
	padding: 5px;
	background-color: #a0a199;
	border: 3px solid #92928e;
	border-bottom: none;
	margin-right: 2px;
	color: #fff !important;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}

.ui-tabs-nav li a:hover
{
	border-bottom: none !important;
}

.ui-tabs-selected a
{
	background-color: #4d78a2 !important;
	border: 3px solid #376c92 !important;
	border-bottom: none !important;
}

.ui-tabs-hide
{
	display: none;
}

.ui-tabs-panel
{
	border-top: 1px solid #777;
	padding: 10px;
	clear: both;
}

.ui-dialog
{
	background-color: #666;
}

.ui-datepicker
{
	background-color: #666;
}

.ui-autocomplete
{
	border: 1px solid #666;
	list-style-type: none;
	background-color: #e3f0ff;
	padding: 5px;
	margin: 0;
	width: 200px;
	height: 100px;
	overflow-y: scroll;
}

.ui-autocomplete li
{
	padding: 0;
	margin: 0;
	cursor: pointer;
}

div.dataTables_length
{
	padding-right: 5px;
	float: left;
}

div.dataTables_filter
{
	float: right;
}

div.dataTables_filter input
{
	background-image: url("/Content/images/search.png");
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 15px !important;
}

div.dataTables_top
{
	clear: both;
}

div.dataTables_info
{
	margin: 5px;
	font-style: italic;
}

div.dataTables_paginate
{
	padding-top: 5px;
}

div.dataTables_processing
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	background-image: url('/Content/images/ajax-loader.gif');
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

div.dataTables_wrapper .dataTables_short
{
	clear: both;
	width: 685px;
}

div.dataTables_wrapper .dataTables_long
{
	clear: both;
	width: 935px;
}

div.dataTables_wrapper .dataTables_form
{
	clear: both;
	width: 915px;
}

div.dataTables_wrapper
{
	float: right;
}

div.dataTables_wrapper table
{
	width: 100%;
	border-spacing: 0;
	border: 1px solid #39669e;;
	background: rgba(255, 255, 255, 0.8);
}

div.dataTables_wrapper table td
{
	padding: 3px;
	padding-right: 7px !important;
}

div.dataTables_wrapper table input
{
	width: 100%;
}


div.dataTables_wrapper table.fixed
{
	table-layout: fixed;
}

span.paginate_button
{
	cursor: pointer;
	padding: 3px;
	margin: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #39669e;
	background-image: linear-gradient(bottom, rgb(136,165,201) 0%, rgb(235,244,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(136,165,201) 0%, rgb(235,244,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(136,165,201) 0%, rgb(235,244,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(136,165,201) 0%, rgb(235,244,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(136,165,201) 0%, rgb(235,244,255) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(136,165,201)),
		color-stop(1, rgb(235,244,255))
	);
}


#simplemodal-overlay 
{
	background-color:#000;
}

#simplemodal-container
{
	background-color:#ccc;
	border:8px solid #444;
	padding:12px;
	height: auto !important;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}

div.Main {
	width: 80%;
	border-style:solid;
	border-width:3px;
}

table.Calendar {
	font-family: "Helvetica";
	margin: 0px;
	padding: 0px;
	border-collapse:collapse;
}

td.Pad {
	background-color: rgb(220, 108, 235);
}

td.Pad:hover {
	background-color: rgb(224, 143, 235);	
}

td.Pad a{
	text-decoration: none;
	color: rgb(255, 255, 255);
}

td.RightPad {
	text-align: right;
}

td.LeftPad {

}

td.Timebar {
	border-right-style: solid;
	border-right-width: 3px;
}

td.CenterPad {
	text-align: center;
	background-color: rgb(213, 195, 224);
}

tr.Line:nth-child(2n+1) {
	background-color: rgb(200, 200, 200);
}

th.Head {
	background-color: rgb(213, 195, 224);
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-top-style: solid;
	border-top-width: 3px;
}