body
{
	margin: 0px;
	padding: 0px;
	font-family: Sans, Lucida Grande, Bitstream Vera Sans, sans-serif;
	font-size: 70%;
}

a
{
	text-decoration: none;
}

a:hover
{
	color: #555;
}

a img, a:hover img
{
	border: none;
}

h2
{
	font-size: 150%;
	font-weight: bold;
	margin: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #b30000;
}

h3
{
	margin: 0;
	padding: 2px;
}

h6
{
	font-size: 110%;
	font-weight: bold;
	color: #435D90;
	padding-top: 2px;
	padding-bottom: 2px;
	margin: 0px;
}

hr
{
	height: 1px;
	margin: 5px;
	margin-left: 0;
	margin-right: 0;
	border: none;
	border-top: 1px solid #ccc;
}

hr .dotted
{
	height: 1px;
	margin: 5px;
	border: none;
	border-top: 1px dotted #999;
}

input
{
	border: 1px solid #666;
}

#wrap
{
	width: 1000px;
	height: 700px;
	margin: 0 auto;
	background-image: linear-gradient(bottom, rgb(246,249,251) 25%, rgb(212,225,235) 63%);
	background-image: -o-linear-gradient(bottom, rgb(246,249,251) 25%, rgb(212,225,235) 63%);
	background-image: -moz-linear-gradient(bottom, rgb(246,249,251) 25%, rgb(212,225,235) 63%);
	background-image: -webkit-linear-gradient(bottom, rgb(246,249,251) 25%, rgb(212,225,235) 63%);
	background-image: -ms-linear-gradient(bottom, rgb(246,249,251) 25%, rgb(212,225,235) 63%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.25, rgb(246,249,251)),
		color-stop(0.63, rgb(212,225,235))
	);
}

#wrap #main
{
	width: 1000px;
	height: 700px;
	background-image: url('/Content/images/watermark.png');
	background-repeat: no-repeat;
	background-position: right bottom;
}

#wrap #main #content
{
	margin: 0 auto;
	width: 400px;
}

#content h3
{
	color: #666;
	text-align: right;
	font-size: 300%;
	font-weight: normal;
	margin-bottom: -8px;
}

#login
{
	border: 1px solid #4e6685;
	padding: 10px;
}

#login .form span
{
	display: block;
}

#login .form input
{
	display: block;
	color: #666;
	border: 1px solid #4e6685;
	background-color: #aebfd6;
	font-size: 150%;
}

#login .form input[type=text]
{
	width: 100%;
	font-size: 300%;
}

#login .form input[type=submit]
{
	margin-top: 10px;   
	padding: 5px;
}