﻿@model FusionPOS.Domain.User
@using FusionSzef
@section commands {
	<li><a href="@Url.Action("List")">Anuluj</a></li>
}

Czy na pewno chcesz usunąć użytkownika @Model.Name?

<a href="@Url.Action("Delete", new { id = Model.Id, confirm = 1 })">Tak</a>
<a href="@Url.Action("List")">Nie</a>