﻿@model FusionPOS.Domain.User
@using FusionSzef
@section commands {
	<li><a href="@Url.Action("List")">Anuluj</a></li>
}

@{ Html.Form("/Users/Save")
	.Add(new HiddenDataField(), m => m.Id)
	.Add(new TextField("Nazwa użytkownika"), m => m.Name)
	.Add(new TextField("PIN"), m => m.Pin)
	.Add(new TextField("Imię"), m => m.FirstName)
	.Add(new TextField("Nazwisko"), m => m.LastName)
	.Add(new SelectField("Rodzaj konta", Extensions.ReadEnum(typeof(FusionPOS.Domain.UserType))), m => m.Type)
	.Add(new SubmitButton("Zapisz"));
}