﻿@using FusionSzef
@section subsections {
	<li><a href="@Url.Action("List")">Lista użytkowników</a></li>
	<li><a href="@Url.Action("LogonHistory")">Historia logowań</a></li>	
}

@section commands {
	<li><a href="@Url.Action("Edit")">Dodaj użytkownika</a></li>
}

<table
    feature="datatable"
    source="@Url.RouteUrl("AjaxList", new { domain = "User" })"
    row-edit="@Url.Action("Summary")">
	<td name="Nazwa użytkownika" property="Name"/>
	<td name="PIN" property="Pin"/>
	<td name="Imię" property="FirstName"/>
	<td name="Nazwisko" property="LastName"/>
	<td name="Uprawnienia" property="Type"/>
	<td name="Usun" property="Id" class="noclick">{{#__deleteLink}}@Url.Action("Delete"){{/__deleteLink}}</td>
</table>
