﻿@using FusionSzef
@section subsections {
	<li><a href="@Url.Action("List")">Lista użytkowników</a></li>
	<li><a href="@Url.Action("LogonHistory")">Historia logowań</a></li>	
}

@section commands {
	<li><a href="@Url.Action("Edit")">Dodaj użytkownika</a></li>
}

<table
    feature="datatable"
    source="@Url.RouteUrl("AjaxList", new { domain = "LogonHistory" })"
    row-edit="@Url.Action("Edit")">
	<td name="Nazwa użytkownika" property="User.Name"/>
	<td name="Data i godzina" property="Timestamp" type="date"/>
	<td name="Stanowisko" property="Device.Name"/>
	<td name="Akcja" property="Action"/>
</table>
