﻿@model FusionPOS.Domain.User
@using FusionSzef
@section commands {
	<li><a href="@Url.Action("List")">Wróć</a></li>
	<li><a href="@Url.Action("Edit", new { id = Model.Id })">Edytuj</a></li>	
}

<table class="pairlist floatleft">
	<tr>
		<td>Nazwa użytkownika:</td>
		<td>@Model.Name</td>
	</tr>
	<tr>
		<td>Imię i nazwisko:</td>
		<td>@Model.FirstName @Model.LastName</td>
	</tr>
	<tr>
		<td>PIN:</td>
		<td>@Model.Pin</td>
	</tr>
	<tr>
		<td>Uprawnienia:</td>
		<td>@Model.Type</td>
	</tr>
</table>

<table class="pairlist floatleft">
	<tr>
		<td>Dzisiejszy utarg:</td>
		<td>@ViewBag.CurrentBilance PLN</td>
	</tr>
	<tr>
		<td>Utarg w ostatnim tygodniu:</td>
		<td>@ViewBag.LastWeekBilance PLN</td>
	</tr>
	<tr>
		<td>Utarg od początku pracy:</td>
		<td>@ViewBag.GeneralBilance PLN</td>
	</tr>
</table>


<table
    feature="datatable"
    large="true"
    source="@Url.RouteUrl(new { controller = "Users", action = "LogonHistoryForUser", id = Model.Id })"
    row-edit="@Url.Action("Edit")">
	<td name="Data i godzina" property="Timestamp" type="date"/>
	<td name="Stanowisko" property="Device.Name"/>
	<td name="Akcja" property="Action"/>
</table>
