@model FusionPOS.Domain.IncomingInvoice
@using FusionSzef
@section commands {
	<li><a href="@Url.Action("List")">Anuluj</a></li>
}


@section script {
	$.instance = {
		validate: function(table) {
			var totalNet = 0;
			var totalGross = 0;
			var valid = true;
			
			$("tr:gt(0)", table).each(function() {
				var validTr = true;
				var amount = parseFloat($(".amount", this).val());
				var netPrice = parseFloat($(".net-price", this).val());
				var grossPrice = parseFloat($(".gross-price", this).val());
				var vatPercent = parseFloat($(".vat-percent", this).val());
				
				if( $(".name", this).val() == '' || $(".unit-of-measure", this).val() == '' )
					valiTr = false;
				
				if(isNaN(amount))
					validTr = false;
				
				if(isNaN(netPrice)) {
					if( !isNaN(grossPrice) && !isNaN(vatPercent) ) {
						netPrice = (grossPrice * 100)/(100+vatPercent);
						$(".net-price", this).val(sprintf("%.02f", netPrice));
					}
					else
						validTr = false;
				}
				
				if(isNaN(vatPercent)) {
					if( !isNaN(grossPrice) && !isNaN(netPrice) ) {
						vatPercent = (grossPrice * 100)/netPrice - 100;
						$(".vat-percent", this).val(sprintf("%.02f", vatPercent));
					}
					else
						validTr = false;
				}
				
				if(isNaN(grossPrice)) {
					if( !isNaN(vatPercent) && !isNaN(netPrice) ) {
						grossPrice = ((100 + vatPercent)*netPrice)/100;
						$(".gross-price", this).val(sprintf("%.02f", grossPrice));
					}
					else
						validTr = false;
				}
				
				if( !(grossPrice == ((100 + vatPercent)*netPrice)/100))
					validTr = false;

				totalNet += netPrice*amount;
				totalGross += grossPrice*amount;
				
				if(!validTr)
				{
					valid = false;
					this.style.background = 'pink';
				}
				else
					this.style.background = 'white';
			});
			
			$("#total-net-value").html(sprintf("%.02f", isNaN(totalNet) ? 0 : totalNet));
			$("#total-gross-value").html(sprintf("%.02f", isNaN(totalGross) ? 0 : totalGross));
			$("#total-tax-value").html(sprintf("%.02f", (isNaN(totalGross) || isNaN(totalNet) ? 
			    0 : (totalGross - totalNet))));
			    
			return valid;
		},  
		
		autoFillRow: function(tr) {
			/*var net = $(".net-price", tr);
			var gross = $(".gross-price", tr);
			var tax = $(".vat-percent", tr);
			
			var counter = net.val() ? 0 : 1;
			counter += gross.val() ? 0 : 1;
			counter += tax.val() ? 0 : 1;
			
			if (counter >= 2)
				return;
			
			if (tax.val()) {
				var grossVal = parseFloat(net.val()) * (1 + parseFloat(tax.val()) / 100);
				gross.val(sprintf("%.02f", grossVal));
			}*/
		},
	}
	$(function() {
		$("#add-item").click(function(event, data) {

			$("#items").dataTable().fnAddData({
				//Id: item.id,
				IdOnInvoice: $("#items").dataTable().fnSettings().iNextId + 1,
				Type: "IncomingInvoiceComponent",
				Name: "nazwa",
				Amount: 0,
				NetUnitPrice: 0,
				GrossUnitPrice: 0,
				Currency: 0,
				VatPercent: 0,
				UnitOfMeasure: 0,
				Pkwiu: 0,
				//Amount: $("#ingredient-amount").val() != "" ? $("#ingredient-amount").val() : "1",
				//Optional: $("#ingredient-optional").attr("checked"),
				//Unit: item.unit
			});
			$.instance.validate($("#items"));
		});
		
		$("#items").on("change", ".amount", function() {
			$.instance.validate($("#items"));
		});
		
		$("#items").on("change", ".unit-of-measure", function() {
			$.instance.validate($("#items"));
		});
		
		$("#items").on("change", ".net-price", function() {
			$.instance.validate($("#items"));
		});
		
		$("#items").on("change", ".gross-price", function() {
			$.instance.validate($("#items"));
		});
		
		$("#items").on("change", ".vat-percent", function() {
			$.instance.validate($("#items"));
		});		
	});
}
@using(var form = Html.Form("/IncomingInvoices/Save")) {	

<div id="basic-tab" class="form">
@{ form
	.Add(new HiddenDataField(), m => m.Id)
	.Add(new TextField("Numer faktury"), m => m.Number)
	.Add(new TextField("Data wystawienia", "datepicker"), m => m.IssueTime)
	.Add(new TextField("Data sprzedaży", "datepicker"), m => m.SellTime)
	.Add(new TextField("Nazwa sprzedawcy"), m => m.SellerName)
	.Add(new TextField("Adres sprzedawcy"), m => m.SellerAddress)
	.Add(new TextField("NIP sprzedawcy"), m => m.SellerNip)
	.Add(new SelectField("Metoda płatności", Extensions.ReadEnum(typeof(FusionPOS.Domain.PaymentMethod))), m => m.PaymentMethod)
	.Add(new TextField("Data płatności", "datepicker"), m => m.PaymentTime);
}
</div>

<div id="recipe-tab">
<p>Składniki:</p>
			<table feature="datatable" id="items" class="fixed" data="[]" large="false" sortable="false" autowidth="false">
				<td name="Numer" property="IdOnInvoice" width="5%">
					{{aData.IdOnInvoice}}
				</td>
				<td name="Składnik" property="Name" width="25%">
					<input feature="autocomplete" class="name" hidden-id="Items[{{iDataRow}}].Ingredient.Id" value-id="{{aData.Ingredient.Id}}" value-name="{{aData.Ingredient.Name}} "
					    remote="@Url.RouteUrl("AjaxListAutocomplete", new { domain = "Ingredient"})"/>		
				</td>
				<td name="Ilość" property="Amount" width="10%">
					<input type="text" class="amount" name="Items[{{iDataRow}}].Amount"/>
				</td>
				<td name="Wartość netto" property="NetUnitPrice">
					<input type="text" class="net-price" name="Items[{{iDataRow}}].NetUnitPrice"/>
				</td>
				<td name="podatek VAT" property="VatPercent" width="10%">
					<input type="text" class="vat-percent" name="Items[{{iDataRow}}].VatPercent"/>
				</td>
				<td name="Wartość brutto" property="GrossUnitPrice">
					<input type="text" class="gross-price" name="Items[{{iDataRow}}].GrossUnitPrice"/>
				</td>
				<td name="jednostka miary" property="UnitOfMeasure">
					<input type="text" class="unit-of-measure" name="Items[{{iDataRow}}].UnitOfMeasure"/>
				</td>
				<td name="pkwiu" property="Pkwiu">
					<input type="text" name="Items[{{iDataRow}}].Pkwiu"/>
				</td>
				<td width="20px">{{{__delete}}}</td>
			</table>
			<table>
				<tr>
					<th>Całkowita wartość netto</th>
					<th>Całkowita wartość brutto</th>
					<th>Całkowita wartość VAT</th>
				</tr>
				<tr>
					<td id="total-net-value"></td>
					<td id="total-gross-value"></td>
					<td id="total-tax-value"></td>
				</tr>   
			</table>
			<button type="button" id="add-item">Dodaj pozycję</button>
</div>

@form.Add(new SubmitButton("Zapisz"))

}