﻿@using FusionSzef
@using FusionPOS.Translations
@section subsections {
	<li><a href="@Url.Action("List", "Ingredients")">Składniki</a></li>
	<li><a href="@Url.Action("ListGroups", "Ingredients")">@("Ingredients.IngredientGroups".Tr())</a></li>
	<li><a href="@Url.Action("List", "IncomingInvoices")">@("Ingredients.IncomingInvoice".Tr())</a></li>
}

@section commands {
	<li><a href="@Url.Action("Add")">Dodaj fakturę</a></li>
}

<table
    feature="datatable"
    source="@Url.RouteUrl("AjaxList", new { domain = "IncomingInvoice" })"
    row-edit="@Url.Action("View")">
	<td name="Data wystawienia" property="IssueTime" type="date"/>
	<td name="Suma netto" property="TotalNetValue" type="price"/>
	<td name="Suma brutto" property="TotalGrossValue" type="price"/>
	<td name="Nazwa" property="SellerName"/>
	<td name="Usuń" property="Id" class="noclick">{{#__deleteLink}}@Url.Action("Delete"){{/__deleteLink}}</td>
</table>
