@model FusionPOS.Domain.IncomingInvoice
@using FusionPOS
@using FusionSzef
@section commands {
	<li><a href="@Url.Action("List")">Powrót</a></li>
}

<table class="pairlist">
	<tr>
		<td>Numer faktury:</td>
		<td>@Model.Number</td>
	</tr>
	<tr>
		<td>Data wystawienia:</td>
		<td>@Model.IssueTime.ToShortDateString()</td>
	</tr>
	<tr>
		<td>Data sprzedaży:</td>
		<td>@Model.SellTime.ToShortDateString()</td>
	</tr>
	<tr>
		<td>Sprzedawca:</td>
		<td>
			@Model.SellerName<br/>
			@Model.SellerAddress<br/>
			NIP: @Model.SellerNip
		</td>
	</tr>
	<tr>
		<td>Metoda płatności:</td>
		<td>@Model.PaymentMethod.ToString()</td>
	</tr>
	<tr>
		<td>Data płatności:</td>
		<td>@Model.PaymentTime.ToShortDateString()</td>
	</tr>
</table>

<table>
	<tr>
		<th>Lp.</th>
		<th>Nazwa</th>
		<th>Ilość</th>
		<th>Cena jedn. netto</th>
		<th>Cena jedn. brutto</th>
		<th>Stawka VAT</th>
		<th>Jedn. miary</th>
		<th>PKWiU</th>
	</tr>
	@foreach (var i in Model.Components) {
		<tr>
			<td>@i.IdOnInvoice</td>
			<td>@i.Ingredient.Name</td>
			<td>@i.Amount.ToString("0.")</td>
			<td>@i.NetUnitPrice.FormatPrice()</td>
			<td>@((i.NetUnitPrice * (i.TaxValue / 100)).FormatPrice())</td>
			<td>@i.VatPercent.ToString("0.")%</td>
			<td>@i.UnitOfMeasure</td>
			<td>@i.Pkwiu</td>
		</tr>
	}
</table>
<table>
	<tr>
		<th>Suma netto</th>
		<th>Suma brutto</th>
		<th>Suma podatku</th>
	</tr>
	<tr>
		<td>@Model.TotalNetValue</td>
		<td>@Model.TotalGrossValue</td>
		<td>@(Model.TotalGrossValue - Model.TotalNetValue)</td>
	</tr>
</table>