﻿@model FusionPOS.Domain.DishGroup
@using FusionSzef
@section commands {
	<li><a href="@Url.Action("List")">Anuluj</a></li>
}

Czy na pewno chcesz usunąć grupę @Model.Name?

<a href="@Url.Action("DeleteGroup", new { id = Model.Id, confirm = 1 })">Tak</a>
<a href="@Url.Action("ListGroups")">Nie</a>