﻿@model FusionPOS.Domain.Dish
@using FusionSzef


@section commands {
	<li><a href="@Url.Action("List", "Categories")">Anuluj</a></li>
	<li><a class="submit">Zapisz</a></li>
}

@section script {
	$.instance = {
		ingredients: @Html.Raw(ViewBag.Ingredients),
		groups: @Html.Raw(ViewBag.Groups),
		categories: @Html.Raw(ViewBag.Categories)
	}

	$(function() {
		$("#add-category").click(function(event, data) {
			$("#categories").dataTable().fnAddData({Id: 0, Name: ""});
		});
		
		$("#add-group").click(function(event, data) {
			$("#groups").dataTable().fnAddData({Id: 0, Name: ""});
		});
		
		$("#add-ingredient").click(function(event, data) {
			$("#recipe").dataTable().fnAddData({Id: 0, Type: "", Name: "", Amount: 1, Optional: false, Unit: ""});
			$.pos.reload($("#recipe")); 
		});
		
		$(".ingredient-type-select").change(function() {
			var tr = $(this).parents("tr");
			var td = $(".ingredient-value", tr);
			var old = $("input", td);
			alert("huj");
			td.html("");
		
			$("<input>")
			    .attr("type", "text")
			    .attr("hidden-id", old.attr("hidden-id"))
			    .attr("remote", $("option:selected", this).attr("remote"))
			    .appendTo(td)
			    .combo()
			    .removeAttr("remote")
			    .bind("autocompleteselect", function(event, ui) {
				$(".ingredient-unit", tr).html(ui.item.unit);
			    });
		});
		
		$("#recipe").dataTable().fnAdjustColumnSizing();
	});
}

@using(var form = Html.Form("/Dishes/Edit")) {	
<div id="tabs" feature="tabs">	
	<ul>
		<li><a href="#basic-tab">Podstawowe informacje</a></li>
		<li><a href="#recipe-tab">Receptura</a></li>
		<li><a href="#descriptions-tab">Opisy</a></li>
	</ul>
	<div id="basic-tab" class="form">
		@{ form
			.Add(new HiddenDataField(), m => m.Id)
			.Add(new TextField("Nazwa"), m => m.Name)
			.Add(new SelectField("Stawka VAT", ViewBag.TaxRates), m => m.Tax.Id)
			.Add(new SelectField("Drukarka kuchenna", ViewBag.Kitchens), m => m.Kitchen.Id)			
			.Add(new FormHeader("Cena 1"))
			.Add(new TextField("Netto"), m => m.Price1)
			.Add(new TextField("Brutto"), m => m.Price2)
			.Add(new FormHeader("Cena 2"))
			.Add(new TextField("Netto"), m => m.Price2)
			.Add(new TextField("Brutto"), m => m.Price2)
			.Add(new FormHeader("Rabaty"))				
			.Add(new TextField("Rabat kwotowy"), m => m.RebateAmount)
			.Add(new TextField("Rabat procentowy"), m => m.RebatePercent)
			.Add(new TextField("Ilość puntków"), m => m.Points);	
		}
		<h2>Dodaj do kategorii:</h2>
		<table style="float: left; width: 40%;" feature="datatable" id="categories" type="form" data="$.instance.categories" large="false" sortable="false">
			<td name="Nazwa kategorii" property="Name">
				<input feature="autocomplete" hidden-id="Categories[{{iDataRow}}].Id" value-id="{{aData.Id}}" value-name="{{aData.Name}}"
		 		    remote="@Url.RouteUrl("AjaxListAutocomplete", new { domain = "DishCategory"})"/>
			</td>
			<td class="hidden">{{#__indexer}}Categories{{/__indexer}}</td>
			<td name="Usuń">{{{__delete}}}</td>		
		</table>
		<button type="button" id="add-category">Dodaj</button>
		<h2>Dodaj do grup:</h2>
		<table style="float: left; width: 40%;" feature="datatable" id="groups" type="form" data="$.instance.groups" large="false" sortable="false">
			<td name="Nazwa kategorii" property="Name">
				<input feature="autocomplete" hidden-id="Groups[{{iDataRow}}].Id" value-id="{{aData.Id}}" value-name="{{aData.Name}}"
				    remote="@Url.RouteUrl("AjaxListAutocomplete", new { domain = "DishGroup"})"/>
			</td>
			<td class="hidden">{{#__indexer}}Groups{{/__indexer}}</td>
			<td name="Usuń">{{{__delete}}}</td>	
		</table>
		<button type="button" id="add-group">Dodaj</button>
	</div>
	<div id="recipe-tab">
		<div id="recipe-tabs">
			<table feature="datatable" id="recipe" type="form" data="$.instance.ingredients" large="false" sortable="false">
				<td name="Typ" property="Type" width="15%">
					<select name="Ingredients[{{iDataRow}}].Type" class="ingredient-type-select" value="{{aData.Type}}">
						<option value="Ingredient" remote="@Url.RouteUrl("AjaxListAutocomplete", new { domain = "Ingredient"})">składnik</option>
						<option value="Dish" remote="@Url.RouteUrl("AjaxListAutocomplete", new { domain = "Dish"})">potrawa</option>
						<option value="IngredientGroup" remote="@Url.RouteUrl("AjaxListAutocomplete", new { domain = "IngredientGroup"})">grupa składników</option>
						<option value="DishGroup" remote="@Url.RouteUrl("AjaxListAutocomplete", new { domain = "DishGroup"})">grupa potraw</option>
					</select>
				</td>
				<td name="Wartość" property="Id" class="ingredient-value" width="40%">
					<input feature="autocomplete" hidden-id="Ingredients[{{iDataRow}}].Id"
					    remote="@Url.RouteUrl("AjaxListAutocomplete", new { domain = "Ingredient" })"
					    value-id="{{aData.Id}}" value-name="{{aData.Name}}"/>
				</td>
				<td name="Ilość" property="Amount" width="30%">
					<input class="ingredient-amount" type="text" name="Ingredients[{{iDataRow}}].Amount" value="{{aData.Amount}}"/>
					<span class="ingredient-unit">{{aData.Unit}}</span>
				</td>
				<td name="Dodatek" property="Optional">
					<input name="Ingredient[{{iDataRow}}].Optional" type="checkbox" {{#aData.Optional}}checked="checked"{{/aData.Optional}}/>
				</td>
				<td>{{{__delete}}}</td>
			</table>
			<button type="button" id="add-ingredient">Dodaj</button>
		</div>
	</div>
	<div id="descriptions-tab" class="form">
		@{ form
			.Add(new TextAreaField("Opis produktu"), m => m.Description)
			.Add(new TextAreaField("Sposób przygotowania"), m => m.Recipe.Protips);
		}
	</div>
</div> 
@form.Add(new SubmitButton("Zapisz"))
}