﻿@model FusionPOS.Domain.DishGroup
@using FusionSzef

@section commands {
	<li><a href="@Url.Action("ListGroups", "Dishes")">Anuluj</a></li>
	<li><a class="submit">Zapisz</a></li>
}

@section script {
	$.instance = {
		dishes: @Html.Raw(ViewBag.Dishes),
	}
	
	$(function() {
		$("#add-dish").click(function(event, data) {
			$("#dishes").dataTable().fnAddData({Id: 0, Name: ""});
		});
	});
}

@using(var form = Html.Form("/Dishes/EditGroup")) {
	form
		    .Add(new HiddenDataField(), u => u.Id)
		    .Add(new TextField("Nazwa"), u => u.Name);
	
	<h2>Zawartość grupy:</h2>
	
	<table style="float: left; width: 40%;" feature="datatable" id="dishes" type="form" data="$.instance.dishes" large="false" sortable="false">
		<td name="Nazwa dania" property="Name">
			<input feature="autocomplete" hidden-id="Dishes[{{iDataRow}}].Id" value-id="{{aData.Id}}" value-name="{{aData.Name}}"
	 		    remote="@Url.RouteUrl("AjaxListAutocomplete", new { domain = "Dish" })"/>
		</td>
		<td class="hidden">{{#__indexer}}Dishes{{/__indexer}}</td>
		<td name="Usuń">{{{__delete}}}</td>		
	</table>
	<button type="button" id="add-dish">Dodaj</button>
	@form.Add(new SubmitButton("Zapisz"));
}