@using FusionSzef

@section subsections {
	<li><a href="@Url.Action("List", "Categories")">Produkty i kategorie</a></li>
	<li>@Html.ActionLink("Grupy produktów", "ListGroups", "Dishes")</li>
}

@section commands {
	<li><a href="@Url.Action("EditGroup")">Dodaj grupę produktów</a></li>
}

<table feature="datatable" id="table" 
    source="@Url.RouteUrl("AjaxList", new { domain = "DishGroup" })" 
    row-edit="@Url.Action("EditGroup")">
	<td name="Nazwa" property="Name"/>
	<td name="Usun" property="Id" class="noclick">{{#__deleteLink}}@Url.Action("DeleteGroup"){{/__deleteLink}}</td>
</table>