﻿<#@ template language="C#v3.5" #>
<#@ import namespace="FusionPOS.Domain" #>
<#@ import namespace="FusionPOS.Translations" #>
<#@ import namespace="System.Collections"#>
<#@ import namespace="System.Collections.Generic"#>
<#@ import namespace="System.Linq"#> 
<#@ import namespace="FusionPOS.Config"#>

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 

<html xmlns="http://www.w3.org/1999/xhtml" 
  xml:lang="en" lang="en">

<head>
  <title>Faktura var</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <meta name="Author" content="FusionPOS" />
  <meta name="Description" 
    content="Vat Invoice" />
  <style>
div.Main {
	margin-left: 50px;
	margin-top: 50px;
	font-family: "Helvetica";
}

table.Main {
	width: 990px;
	text-align: center;
}

table.Content {
	width: 986px;
	border-collapse: collapse;
	position: relative;
	left: 2px;
}

table.BorderDisabled {
	margin-top: 2px;
	border: 0px;
}

th, td {
	border: 2px solid black;
}

p {
	height: 4px;
	margin-top: 3px;
}

tr.Special {
	height: 50px;
}

tr.BigSpecial {
	height: 140px;
}

td.Offset {
	padding-left: 30px;
}

td.AlignL {
	text-align: left;
}

td.AlignR {
	text-align: right;
}

td.ValignTop {
	vertical-align: top;
}

td.ValignDown {
	text-align: center;
	vertical-align: bottom;
	font-size: 10px;
	font-weight: bold;
}

td.Red {
	background-color: rgb(190, 10, 10);
}

td.Empty {
	border: 0px !important;
}

td.EmptyBorder {
	border: 0px;
	font-size: 20px;
	font-weight: bold;
}
  </style>
</head>

 <body>
  <div id="header" class="Main">
   <table class="Main">
    <tr>
     <td rowspan="3" class="ValignDown" width="35%">Pieczęć firmy</td>
     <td colspan="2" rowspan="2" class="Red" width="33%"><h2>Faktura Vat</h2></td>
     <td width="32%">Nr. 1/2021</td>
     </td>
    </tr>
    <tr>
     <td class="EmptyBorder">ORYGINAŁ</td>
    </tr>
    <tr>
     <td colspan="2"><p><#= Invoice.IssueTime.ToString("dd-MM-yyyy") #></p><p>Data wystawienia</p></td>
     <td colspan="2"><p><#= Invoice.SellTime.ToString("dd-MM-yyyy") #></p><p>Data sprzedaży<p></td>
    <tr>
    <tr>
     <td colspan="2" class="AlignL"><p>Sprzedawca: <#=Configuration.Sections["company"].Properties["name"]#></p>
      <p>Adres:  <#=Configuration.Sections["company"].Properties["street"]#></p>
      <p>   <#=Configuration.Sections["company"].Properties["zip"]#> <#=Configuration.Sections["company"].Properties["city"]#>
      <p>NIP:  <#=Configuration.Sections["company"].Properties["nip"]#></p></td>
     <td colspan="2" class="AlignL"><p>Nabywca:<#=Invoice.BuyerName#></p><p>Adres: <#=Invoice.BuyerAddress#></p><p>NIP: <#=Invoice.BuyerNip#></p></td>
    </tr>
    <tr>
     <td colspan="4" class="AlignL"><p>Forma płatności: <#=Invoice.PaymentMethod.ToString()#></p><!--<p>Termin płatności: <#=Invoice.PaymentTime.ToString("dd-MM-yyyy")#></p>-->
      <p>Bank: <#=Invoice.BankName#> Numer konta: <#=Invoice.BankAccount#></p></td>
    </tr>
   </table>
   <table class="Content">
    <tr>
     <td class="Red" width="5%">Lp.</td>
     <td class="Red" width="25%">Nazwa</td>
     <td class="Red" width="10%">PKWiU</td>
     <td class="Red" width="5%">Ilość</td>
     <td class="Red" width="10%">Jm</td>
     <td class="Red" width="9%">Cena netto</td>
     <td class="Red" width="9%">Stawka VAT</td>
     <td class="Red" width="9%">Kwota VAT</td>
     <td class="Red" width="9%">Wartość Brutto</td>
    </tr>
    <# foreach (var item in Invoice.Components) { #> 
    <tr> 
     <td><#= item.IdOnInvoice #></td>
     <td><#= item.Name #></td>
     <td></td>
     <td><#= item.Amount.ToString("0.##") #></td>
     <td><#= item.UnitOfMeasure.ToString() #></td>
     <td><#= item.ValueNet.ToString("0.##") #></td>
     <td><#= item.VatPercent.ToString("##") #>%</td>
     <td><#= item.TaxValue.ToString("0.##")#> </td>
     <td><#= item.ValueGross.ToString("0.##")#> </td>
    </tr>
   <# } #>
   </table>
   <table class="Content BorderDisabled">
    <tr>
     <td class="Empty" width="45%"> </td>
     <td class="Red" width="19%">Razem</td>
     <td width="9%"><#= Invoice.TotalValueNet.ToString("0.##") #></td>
     <td width="9%">-</td>
     <td width="9%"><#= Invoice.TotalValueTax.ToString("0.##") #></td>
     <td width="9%"><#= Invoice.TotalValueGross.ToString("0.##") #></td>
    </tr>
    <tr>
     <td class="Empty" width="45%"> </td>
     <td class="Red" width="19%">W tym</td>
     <td width="9%">0</td>
     <td width="9%">0</td>
     <td width="9%">0</td>
     <td width="9%">0</td>
    </tr>
   </table>
   <table width="990">
    <tr class="Special">
     <td width="27%">Razem do zapłaty: <#= Invoice.TotalValueGross.ToString("0.##")#> zł</td>
     <td width="38%" class="Empty Offset">Zapłacono: <!-XXX<=Order.CashGiven.ToString()#>--></td>
     <td width="35%" class="Empty">Do zapłaty: <!-XXX-<=(Order.TotalValue-Order.CashGiven).ToString()#>--></td>
    <tr>
   </table>
   <p></p>
   <table width="990">
    <tr class="Special">
     <td>Słownie: <#=MonetaryDescription.TranslateValue(Invoice.TotalValueGross)#></td>
    </tr>
   </table>
   <p></p>
   <table width="990" class="BigSpacing">
    <tr class="BigSpecial">
     <td class="Empty" width="10%"> </td>
     <td class="ValignDown" width="35%">Imie, nazwisko oraz podpis osoby upowaznionej do odebrania dokumentu</td>
     <td class="Empty" width="10%"> </td>
     <td class="ValignDown" width="35%">Imie, nazwisko oraz podpis osoby upowaznionej do wystawienia dokumentu</td>
     <td class="Empty" width="10%"> </td>
    </tr>
   </table>
  </div>
  <div id="content"></div>
  <div id="footer"></div>
 </body>
</html>		
		
<#+ public OutgoingInvoice Invoice { get; set; } #>
<#+ public ConfigContext Configuration { get; set; } #>