﻿<#@ template language="C#v3.5" #>
<#@ import namespace="FusionPOS" #>
<#@ import namespace="FusionPOS.Domain" #>
<#@ import namespace="FusionPOS.Translations" #>
<#@ import namespace="System.Collections"#>
<#@ import namespace="System.Collections.Generic"#>
<#@ import namespace="System.Linq"#>
<#@ import namespace="Shared"#> 
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 

<html xmlns="http://www.w3.org/1999/xhtml" 
  xml:lang="en" lang="en">

 <head>
  <title>Faktura var</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <meta name="Author" content="FusionPOS" />
  <meta name="Description" 
    content="Vat Invoice" />
  <style>
div.Main {
	margin-left: 50px;
	margin-top: 50px;
	font-family: "Helvetica";
}
 
td, th { 
	vertical-align: top;
	border: 2px solid black;
}

th {
	background-color: rgb(190, 70, 70);
}

td.Red {
	background-color: rgb(190, 70, 70);
}


p {
	height: 10px;
	margin-top: 3px;
}

table.Header {
	width: 990px;
	text-align: Left;
}

table.Content {
	width: 986px;
	border-collapse: collapse;
	position: relative;
	left: 2px;
	margin-top: 2px;
}

font.Title {
	text-align: ceter;
	font-size: 20px;
	font-weight: bold;
}

tr.Line:nth-child(2n+1) {
	background-color: rgb(200, 200, 200);
}

th {
	text-align: center;
}

td.None {
	border: 0px;
}
  </style>
 </head>
 <body>
  <div id="header" class="Main">
   <table class="Header">
    <tr>
     <th colspan="2"><p><font class="Title">Raport <#=Type_#></font></p><p><#=DateTime.Now.ToString("dd-MM-yyyy")#></p><p>Data wydruku</p></th>
    </tr>
    <tr>
    <td width="70%">
<#
     
     if(Type_ != ReportType.Invoice)
     {
#>
     <p><b>Kategorie: </b></p><p>
<#
	     if(CategoriesFilter.Any())
	     {#><#=CategoriesFilter[0]#> <#
	        foreach(string cat in CategoriesFilter)
	        {
	     #><#=", " + cat#>
	     <#}
	     }
	     else
     {#>Brak<#}#>
     </p><p><b>Grupy: </b></p><p><#
	     if(GroupsFilter.Any())
	     {#><#=GroupsFilter[0]#><#
	        foreach(string cat in GroupsFilter)
	        {
     #><#=", " + cat#>
     <#}
     }else
     {#>Brak<#}#>
     </p><p><b>Maska nazwy: </b><#
	     if(IngredientsFilter.Any() && Type_ == ReportType.Financial)
     {#><#=IngredientsFilter[0]#><#
	        foreach(string cat in IngredientsFilter)
	        {
     #><#=", " + cat#>
     <#}
             }else
             {#>Brak</p><#}
     } else {#>
     <p>Dla dostawców:</p>
     <p>
     <#if(Invoices.Any()) {#>
        <#=string.Join(", ", Invoices.Select(v => v.Deliver))#>
     <#} else {#>
        <#="Wszyscy"#>
     <#}#>
<#
     }
#>
      </p>
     </td>
     <td width="30%"><p>Zakres: </p><p>Od: <#=From.ToString("dd-MM-yyyy")#></p><p>Do: <#=To.ToString("dd-MM-yyyy")#></p></td>
    </tr>
   </table>
   <#
    if(Type_ == ReportType.Cargo || Type_ == ReportType.Stocktaking)
    {
        bool s = (ReportType.Stocktaking == Type_ ? true : false);
   #>
   <table class="Header Content">
    <tr>
     <th width="3%">
      L.p.
     </th>
     <th width=" <# if(s){ #> <#="55%"#> <#}else{#> <#="40%"#> <#}#> ">
      Nazwa pozycji
     </th>
     <th width=" <# if(s){ #> <#="10%"#> <#}else{#> <#="7%"#> <#}#>">
      J. m.
     </th>
     <th width=" <# if(s){ #> <#="30%"#> <#}else{#> <#="15%"#> <#}#>">
      Ilość
     </th>
     <# if(s) { #>
     <th width="15%">
      Cena netto za jednostkę
     </th>
     <th width="15%">
      Cena netto
     </th>
     <th width="5%">
      Inwentaryzacja
     </th>
     <# } #>
    </tr>
	<#
        int idx=1;
        foreach(CargoReport.IngredientCount ig in Ingredients) { #>
    <tr class="Line">
     <td><#=idx.ToString()#></td>
     <td><#=ig.Ingredient.ToString()#></td>
     <td><#=ig.Unit#></td>
     <td><#=ig.Count.ToString()#></td>
     <# if(s) { #>
      <td><#=ig.PriceForPiece.ToString()#></td>
      <td><#=(ig.PriceForPiece*ig.Count).ToString()#></td>
      <td> </td>
     <#}#>
    </tr>
   <#
                ++idx;
        }
           if(Ingredients.Count == 0)
   {
        #><tr><td colspan="4">Nie odnaleziono żadnych pozycji</td></tr>
        <#
   }
   }

   
   #>
   </table>
   <#  
   if(Type_ == ReportType.Financial)
   {
   
   #>
   <table class="Header Content">
    <tr>
     <th width="3%">
      L.p.
     </th>
     <th width="43%">
      Nazwa pozycji
     </th>
     <th width="5%">
      J.m.
     </th>
     <th width="7%">
      Ilość
     </th>
     <th width="10%">
      Cena jedn. netto
     </th>
     <th width="8%">
      Stawka vat
     </th>
     <th width="8%">
      Wartość vat
     </th>
     <th width="8%">
      Wartość netto
     </th>
     <th width="8%">
      Wartość brutto
     </th>
    </tr>
    <#; 
        int idx=0;
        foreach(FinancialReport.ItemCount c in Dishes) 
        {
        #>
    <tr class="line">
     <td><#=idx.ToString()#></td>
     <td><#=c.Name#></td>
     <td><#=c.JM#></td>
     <td><#=c.Count.ToString()#></td>
     <td><#=c.CountForPiece.ToString()#></td>
     <td><#=c.VatRate.ToString() + "%"#></td>
     <td><#=c.VatCount.ToString()#></td>
     <td><#=c.NettoPrice.ToString()#></td>
     <td><#=c.BruttoPrice.ToString()#></td>
    </tr>
<#
                ++idx;
        }
        
        if(Dishes.Count == 0)
        {
#><tr><td colspan="4">Nie odnaleziono żadnych pozycji</td></tr>
   <#   }#>
   </table>
   <#
   if(Type_ == ReportType.Financial)
     {
                #>
   <table class="Content">
    <tr>
     <td width="68%" class="None"> </td> 
     <td width="8%" class="Red"><font class="Title">Razem</font></td>
     <td width="8%"><#=Dishes.Sum(p => p.VatCount)#></td>
     <td width="8%"><#=Dishes.Sum(p => p.NettoPrice)#></td>
     <td width="8%"><#=Dishes.Sum(p => p.BruttoPrice)#></td>
    </tr>
   </table>
   <#}
   
   }
   #>
   
<#
   if(Type_ == ReportType.Invoice)
   {
#>
   <table class="Header Content">
    <tr>
    <th width="3%">
     L.p.
    </th>
    <th width="30%">
     Numer faktury
    </th>
    <th width="30%">
     Dostawca
    </th>
    <th width="15%">
     Wartość netto
    </th>
    <th width="7%">
     Podatek vat
    </th>
    <th width="15%">
     Wartość brutto
    </th>
    </tr>
<# 
		if(Invoices.Count == 0)
		{
#>
    <tr><td colspan="6">Brak faktur za wskazany okres</td></tr>
<#
		
		}
                int idx=0;
                foreach(VatInvoiceReport.VatReport c in Invoices) 
                {
#>
    <tr class="Line">
     <td><#=idx.ToString()#></td>
     <td><#=c.Number.ToString()#></td>
     <td><#=c.Deliver.ToString()#></td>
     <td><#=c.Netto.ToString()#></td>
     <td><#=c.Vat.ToString()#></td>
     <td><#=c.Brutto.ToString()#></td>
    </tr>
   </table>
<#
		}
#>
   <table class="Content">
    <tr>
     <td width="53%" class="None"> </td> 
     <td width="10%" class="Red"><font class="Title">Razem</font></td>
     <td width="15%"><#=Invoices.Sum(p => p.Netto)#></td>
     <td width="7%" class="None"> </td>
     <td width="15%"><#=Invoices.Sum(p => p.Brutto)#></td>
    </tr>
   </table>
<#
	}  
#>
  </div>
 </body>
 
</html>
<#+public ReportType Type_; #>
<#+public IList<CargoReport.IngredientCount> Ingredients; #>
<#+public IList<FinancialReport.ItemCount> Dishes; #>
<#+public IList<VatInvoiceReport.VatReport> Invoices; #>
<#+public IList<String> CategoriesFilter; #>
<#+public IList<String> GroupsFilter; #>
<#+public IList<String> IngredientsFilter; #>
<#+public DateTime From;#>
<#+public DateTime To; #>