@model FusionPOS.Domain.Client
@using FusionSzef
@section commands {
	<li><a href="@Url.Action("List")">Anuluj</a></li>
	<li><a class="submit">Zapisz</a></li>
}

@{ Html.Form()
	.Add(new HiddenDataField(), m => m.Id)
	.Add(new TextField("Nazwa"), m => m.Name)
	.Add(new TextField("Numer telefonu"), m => m.PhoneNumber)
	.Add(new TextField("Adres"), m => m.Address)
	.Add(new CheckboxField("Firma"), m => m.Company)
	.Add(new TextField("NIP"), m => m.NIP)
	.Add(new TextAreaField("Opis"), m => m.Description)
	.Add(new TextField("Limit kredytowy"), m => m.MaxCredit)
	.Add(new SubmitButton("Zapisz"));
}


