@using FusionSzef
@section subsections {
	<li><a href="@Url.Action("Index", "Clients")">Klienci</a></li>
	<li><a href="@Url.Action("Index", "Reservations")">Rezerwacje</a></li>
}

@section commands {
	<li><a href="@Url.Action("Edit")">Dodaj klienta</a></li>
}

<form class="form" id="search">
	<h3>Szybkie wyszukiwanie:</h3>
	<span>
		<label>Szukaj:</label>
		<input type="text" name="name" onkeyup="$('#table').dataTable().fnFilter($(this).val());"/>
	</span>
	<span>
		<label>NIP:</label>
		<input type="text" name="nip" onkeyup="$('#table').dataTable().fnFilter($(this).val(), 3);"/>
	</span>
</form>	
<table feature="datatable" id="table" server-side="true" source="@Url.RouteUrl("AjaxListServer", new { domain = "Client" })" row-edit="@Url.Action("Summary")">
	<td name="Nazwa" property="Name"/>
	<td name="Telefon" property="PhoneNumber"/>
	<td name="Adres" property="Address"/>
	<td name="NIP" property="NIP">{{#aData.Company}}{{aData.NIP}}{{/aData.Company}}{{^aData.Company}}prywatny{{/aData.Company}}</td>
	<td name="Opis" property="Description"/>
	<td name="Ilość punktów" property="Points"/>
	<td name="Kredyt" property="Credit"/>
	<td name="Limit kredytowy" property="MaxCredit"/>
	<td name="Usun" property="Id" class="noclick">{{#__deleteLink}}@Url.Action("Delete"){{/__deleteLink}}</td>
</table>