@model FusionPOS.Domain.Client
@using FusionSzef
@section commands {
	<li><a href="@Url.Action("List")">Wróć</a></li>
	<li><a href="@Url.Action("Edit", new { Id = Model.Id })">Edytuj dane klienta</a></li>
}
<table class="pairlist floatleft" width="45%">
	<tr>
		<th colspan="2"><h2>Dane ogólne</h2></th>
	</tr>
	<tr>
		<td width="40%">Nazwa kontrahenta</td>
		<td width="60%">@Model.Name</td>
	</tr>
	<tr>
		<td>Adres</td>
		<td>@Model.Address</td>
	</tr>
	<tr>
		<td>Telefon</td>
		<td>@Model.PhoneNumber</td>
	</tr>
	<tr>
		<td>NIP</td>
		<td>@Model.NIP</td>
	</tr>
	<tr>
		<td>Dodatkowe informacje</td>
		<td>@Model.Description</td>
	</tr>
	<tr>
		<td>Najczęściej kupowany produkt</td>
		<td>@ViewBag.FreqDish</td>
	</tr>
	<tr>
		<td>Ostatnio kupiony produkt</td>
		<td>@ViewBag.Last</td>
	</tr>
	<tr>
		<td>Najczęstrze wizyty w ciągu tygodnia</td>
		<td>@ViewBag.WeekVisit.ToString()</td>
	</tr>
</table>
<table class="pairlist floatleft" width="45%">
	<tr>
		<th colspan="2"><h2>Obroty</h2></th>
	</tr>
	<tr>
		<td width="60%">Dzienne</td>
		<td width="40%">@ViewBag.DayliTurnover</td>
	</tr>
	<tr>
		<td>Tygodniowe</td>
		<td>@ViewBag.WeeklyTurnover</td>
	</tr>
	<tr>
		<td>Miesięczne</td>
		<td>@ViewBag.MonthlyTurnover</td>
	</tr>
	<tr>
		<td>Ogólne</td>
		<td>@ViewBag.OveralTurnover</td>
	</tr>
</table>
<div feature="dynamic" id="chart-placement" style="clear: both; margin-top: 20px;" remote="@Url.Action("SummaryTurnoverChart", new { id = Model.Id, type = "huj" })"></div>
