@{
	Layout = null;
}

<script type="text/javascript">
	$.instance = {
	
	};
	
	$().ready(function($) {
		$.instance.chart = new Highcharts.Chart({
			chart: {
				renderTo: "chart",
				zoomType: "x"
			},
			title: {
				text: "Obrót dobowy z dnia 2011-11-10"
			},
			xAxis: {
				title: { text: "Godziny" },
				type: "datetime"
			},
			yAxis: {
					title: { text: "Obrót" },
					min: 0
			},				
			series: [
				{
					pointInterval: 3600 * 1000,
					startDate: "@ViewBag.StartDate",
					name: "Obrót",
					data: @ViewBag.Turnover,
					type: "area",
					yAxis: 0,
				}
			]
		});
	});
</script>

<h2>Wykres obrotu klienta</h2>
<button type="button">Ostatni tydzień</button>
<button type="button">Ostatni miesiąc</button>
<button type="button">Łącznie</button>
<div id="chart"></div>