﻿@{
	Layout = null;
}

@if (ViewBag.Online) {
	<b>Online:</b><img src="@Url.Content("~/Content/images/green.png")" alt="Online"/><br/>
	<b>Wersja oprogramowania:</b> @ViewBag.Version
} else {
	<b>Online:</b><img src="@Url.Content("~/Content/images/red.png")" alt="Offline"/>
}