﻿@{
	Layout = null;
}

@if (ViewBag.Online) {
	<img src="@Url.Content("~/Content/images/green.png")" alt="Online"/>
	<span>(Online od @ViewBag.BootupTime.ToShortTimeString())</span>
} else {
	<img src="@Url.Content("~/Content/images/red.png")" alt="Offline"/>
}