@model FusionPOS.Domain.Kitchen
@using FusionSzef
@section commands {
	<li><a href="@Url.Action("List")">Anuluj</a></li>
}

@{ Html.Form()
	.Add(new HiddenDataField(), m => m.Id)
	.Add(new TextField("Nazwa"), m => m.Name)
	.Add(new TextField("Adres IP"), m => m.IpAddress)
	.Add(new SubmitButton("Zapisz"));
}
