@using FusionSzef
@section commands {
	<li><a href="@Url.Action("EditDevice")">Dodaj POS</a></li>
	<li><a href="@Url.Action("EditKitchen")">Dodaj drukarkę kuchenną</a></li>
}

<h3>Zainstalowane POS-y:</h3>	
<table 
    feature="datatable"
    source="@Url.RouteUrl("AjaxList", new { domain = "Device" })" 
    row-edit="@Url.Action("EditDevice")">
	<td name="Nazwa" property="Name"/>
	<td name="Adres IP" property="IpAddress"/>
	<td name="Aktywny" property="Enabled">{{#__boolean}}{{aData.Enabled}}{{/__boolean}}</td>
	<td name="Włączony"><div feature="dynamic" route="['Devices', 'AjaxDeviceStatus', {{aData.Id}}]"></div></td>
	<td name="Aktualnie zalogowany">huj2</td>
	<td name="Wiadomość"><a href="@Url.Action("SendMessage")/{{aData.Id}}">Wyślij wiadomość</a></td>
	<td name="Usun" property="Id" class="noclick">{{#__deleteLink}}@Url.Action("DeleteDevice"){{/__deleteLink}}</td>
</table>

<h3>Drukarki kuchenne:</h3>
<table
    feature="datatable"
    source="@Url.RouteUrl("AjaxList", new { domain = "Kitchen" })"
    row-edit="@Url.Action("EditKitchen")">
	<td name="Nazwa" property="Name"/>
	<td name="Port drukarki" property="PrinterPort"/>
	<td name="Usun" property="Id" class="noclick">{{#__deleteLink}}@Url.Action("DeleteKitchen"){{/__deleteLink}}</td>
</table>

<h3>Status serwera:</h3>
<div feature="dynamic" route="['Devices', 'AjaxServerStatus']">
