@model FusionSzef.SendMessageModel
@using FusionSzef
@section commands {
	<li><a href="@Url.Action("List")">Anuluj</a></li>
}

@{ Html.Form()
	.Add(new HiddenDataField(), m => m.POS.Id)
	.Add(new TextAreaField("Wiadomość"), m => m.Message)
	.Add(new SubmitButton("Wyślij"));
}