﻿@model FusionPOS.Domain.Room
@using FusionSzef
@section commands {
	<li><a href="@Url.Action("List")">Anuluj</a></li>	
	<li><a onclick="Context.saveRoom()">Zapisz</a></li>
	<li><a id="settings-show">Właściwości</a></li>
}

@section head {
	<script type="text/javascript" src="@Url.Content("~/Content/js/prototype.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Content/js/editor.js")"></script>
}

@section script {
	$.instance = {
		id: @Model.Id,
		name: "@Model.Name",
		width: @Model.Width,
		height: @Model.Height
	};
	
	jQuery.noConflict();
	jQuery(function() {
		jQuery("#new-room").click(function() {
				newRoom();
				$("#settings").hide();
		});
	
		jQuery('#settings-form').validate({
			submitHandler: function(form) {
				$.instance.name = jQuery('[name="name"]', form).val();
				$.instance.width = jQuery('[name="width"]', form).val();
				$.instance.height = jQuery('[name="height"]', form).val();
				jQuery.modal.close();
				return true;
			},
		});     
		
		jQuery('#settings-show').click(function(event, data) {
			jQuery('#settings').modal({
				onShow: function(dialog) {
					jQuery('[name="name"]', dialog.container).val($.instance.name);
					jQuery('[name="width"]', dialog.container).val($.instance.width);
					jQuery('[name="height"]', dialog.container).val($.instance.height);
				}
			});
		});
		
		Display.init();
	});
}

<div class="toolbar">	
	<ul>
		<li>Nowy stolik:</li>		
		<li><button onclick="addTable();">Prostokątny</button></li>
		<li><button onclick="addTable();">Okrągły</button></li>
		<li class="separator"></li>
		<li><button onclick="Context.deleteTable();">Usuń stolik</button></li>
		<li class="separator"></li>
		<li><input width="120" name="ruler" type="checkbox" id="ruler" onClick="CheckRuler();" checked=true/>Linijka</li>
		<li><input width="120" name="grind" type="checkbox" id="grind" onClick="CheckGrind();" checked=true/>Siatka</li>
	
	</ul>
</div>
<div id="settings" style="display: block;">
	<form class="form" id="settings-form">		
		<span>
			<label>Nazwa sali:</label>
			<input type="text" name="name" required="true"/>
		</span>
		<span>
			<label>Szerokość:</label>
			<input type="text" name="width" required="true" number="true"/>
		</span>
		<span>
			<label>Wysokość:</label>
			<input type="text" name="height" required="true" number="true"/>
		</span>
		<input type="button" value="ok" id="new-room"/>
	</form>
</div>
	
<!--<table>
<tr>	
<td valign="top">
<div>

</div>				
<table>
<tr><td colspan=2><input type=text id="name"/></td></tr>
<tr> 	
<td>					
<button onclick="Context.newRoom()">Właściwości</button></td></tr>
<tr><td></td></tr>
<tr><td><input width="120" name="shape" type="radio" id="rectangular" checked=true/>Prostokątny</td></tr>
<tr><td><input width="120" name="shape" type="radio" id="circle"/>Okrągły</td></tr>				
<tr><td><button width="120" onclick="Context.deleteTable();">Usuń stolik</button></tr></td>
<tr><td><input width="120" name="ruler" type="checkbox" id="ruler" onClick="CheckRuler();" checked=true/>Linijka</td></tr>	
<tr><td>tka</td></tr>					

	
</table>				
</td>
<td>			

</td>			
</tr>			
</table>-->	
<canvas id="canvas" width="935" height="600">
xD
</canvas>	
<script type="text/javascript">	

function CheckRuler()
{
	if( document.getElementById("ruler").checked )
		Context.ruler = true;
	else
		Context.ruler = false;
	Context.show();
}

function CheckGrind()
{
	if( document.getElementById("grind").checked )
		Context.showGrind = true;
	else
		Context.showGrind = false;
	Context.show();
}

function addTable()
{
	if(document.getElementById('rectangular').checked)
	{
		for(var i=0; i<Context.actions.length(); ++i)
		{
			if(Context.actions.array[i] instanceof AddTable)
					Context.actions.remove(Context.actions.array[i]);
		}
		Context.actions.add(new AddTable(Table.prototype.RECT, Context));		
	}
	else
	{
		for(var i=0; i<Context.actions.length(); ++i)
		{
			if(Context.actions.array[i] instanceof AddTable)
					Context.actions.remove(Context.actions.array[i]);
		}
		Context.actions.add(new AddTable(Table.prototype.CIRC, Context));			
	}
}


var Tools = {		
	vertex2f: function(x, y)
	{
		this.x = x;
		this.y = y;	
	},
	
	getNearestPointX: function(x)
	{
		var new_x = this.deNormalizeX(x);
		if(new_x%50 < 10)
			return new_x  - (new_x % 50);
		else if(new_x%50 > 40)
			return new_x  + (50 - (new_x % 50)); 
		return new_x;
	},

	getNearestPointY: function(y)
	{
		var new_y = this.deNormalizeY(y);
		if(new_y%50 < 10)
			return new_y  - (new_y % 50);
		else if(new_y%50 > 40)
			return new_y  + (50 - (new_y % 50)); 
		return new_y;
	},

	getNearestPointXfrom: function(x, w)
	{
		var new_x = x; //this.deNormalizeY(x);
		var new_w = x+w; //this.deNormalizeX(x+w);
		
		if(new_x%50<10)
			return new_x  - (new_x % 50);
		else if(new_w%50>40)
			return new_x  + (50 - (new_w % 50)); 
		return new_x;
	},

	getNearestPointYfrom: function(x, w)
	{
		var new_x = x; //this.deNormalizeY(x);
		var new_w = x+w; //this.deNormalizeX(x+w);
		
		if(new_x%50<10)
			return new_x  - (new_x % 50);
		else if(new_w%50>40)
			return new_x  + (50 - (new_w % 50)); 
		return new_x;
	},

	deNormalizeX: function(curr_x)
	{
		if(Context.scrollH)
			return curr_x + Context.scrollH.value;
		else 
			return curr_x;
	},
	
	deNormalizeY: function(curr_y)
	{
		if(Context.scrollV)
			return curr_y + Context.scrollV.value;
		else
			return curr_y;
	},
		
	normalizeX: function(curr_x)
	{
		if(Context.scrollH)
			return curr_x - Context.scrollH.value;
		else
			return curr_x;
	},
		
	normalizeY: function(curr_y)
	{
		if(Context.scrollV)
			return curr_y - Context.scrollV.value;
		else
			return curr_y;
	},
	
	putPixel: function(x, y, ctx)
	{
		ctx.fillRect(x, y,1,1);
	},
	
	renderTexture: function(x, y, width, height, pattern, ctx)
	{
		var w=Math.sqrt(pattern.length);
		
		for(var a=0; a<width; ++a)
		{
			for(var b=0; b<height; b++)
				if(pattern[(b%w)*w+(a%w)])
					this.putPixel(x+a, y+b, ctx);
		}
	},
		
	PATTERN_1: 
	[0, 0, 0, 1,
	 0, 1, 1, 0,	
	 0, 1, 1, 0,
	 1, 0, 0, 0],
		
	renderer: function(context, ctx)
	{
		Display.clrscr();
		var w = Display.width;
		var h = Display.height;
		if(Context.currProject)
		{
			ctx.fillStyle = "#97BDA1";
			ctx.rect(this.normalizeX(0), this.normalizeY(0), context.currProject.width, context.currProject.height);
			//ctx.shadowBlur=50;
			//ctx.shadowColor = 'rgb(0,0,0)';
			ctx.fill();
			//ctx.shadowBlur=0;
			
			if(Context.showGrind)
			{
				for(var i = 0; i <= context.currProject.width; i+=50)
				{
					if(i<context.scrollH.value || i>context.scrollH.value+w)
						continue;
					if(i%200 == 0)
						ctx.strokeStyle = "#3B3B3B";
					else
						ctx.strokeStyle = "#6E6E6E";

					ctx.beginPath();	
					ctx.moveTo(Tools.normalizeX(i), Tools.normalizeY(context.scrollV.value<0?0:context.scrollV.value));
					ctx.lineTo(Tools.normalizeX(i), context.scrollV.value+h>context.currProject.height?Tools.normalizeY			

							(context.currProject.height) : Tools.normalizeY(context.scrollV.value+h));
					ctx.closePath();
					ctx.stroke();
				}

				for(var i = 0; i <= context.currProject.height; i+=50)
				{
					if(i<context.scrollV.value || i>context.scrollV.value+h)
					continue;
					if(i%200 == 0)
						ctx.strokeStyle = "#3B3B3B";
					else
						ctx.strokeStyle = "#6E6E6E";

					ctx.beginPath();	
					ctx.moveTo(Tools.normalizeX(context.scrollH.value<0?0:context.scrollH.value), Tools.normalizeY(i));
					ctx.lineTo(context.scrollH.value+w>context.currProject.width?Tools.normalizeX						

						(context.currProject.width) : Tools.normalizeX(context.scrollH.value+w), Tools.normalizeY(i));
					ctx.closePath();
					ctx.stroke();
				}
			}

			var focus=0;
			var newTable=0;
			var move=0;
			for(var i=0; i<context.actions.length(); ++i)
			{
				if(context.actions.array[i] instanceof Focus)
					focus = context.actions.array[i];

				if(context.actions.array[i] instanceof AddTable)
					newTable = context.actions.array[i];
				if(context.actions.array[i] instanceof Move)
					newTable = context.actions.array[i];

				if(focus!=0 && newTable != 0 && move!=0)
					break;
			}
			
			

			
		
			for(var i=0; i<context.currProject.tables.length(); ++i)
			{
				var table = context.currProject.tables.array[i];
				var x=table.coords_v.x;
				var y=table.coords_v.y;
				
				ctx.fillStyle = "#573302";

		
				if(table instanceof RectTable)
				{
					
					var width=table.width;
					var height=table.height;
					ctx.lineWidth = 1;
					if(table == focus.mouseOver && table != focus.checked)
					{
						ctx.fillStyle = "rgba(255, 0, 0, 0.2)";
						ctx.fillRect(this.normalizeX(x)-2, this.normalizeY(y)+2, -26, height-4);
						ctx.fillRect(this.normalizeX(x)+2, this.normalizeY(y)-2, width-4, -26);
						ctx.fillRect(this.normalizeX(x+width)+2, this.normalizeY(y)+2, 26, height-4);
						ctx.fillRect(this.normalizeX(x)+2, this.normalizeY(y+height)+2, width-4, 26);
						ctx.fillRect(this.normalizeX(x)-2, this.normalizeY(y)-2, -26, -26);
						ctx.fillRect(this.normalizeX(x+width)+2, this.normalizeY(y)-2, 26, -26);
						ctx.fillRect(this.normalizeX(x+width)+2, this.normalizeY(y+height)+2, 26, 26);
						ctx.fillRect(this.normalizeX(x)-2, this.normalizeY(y+height)+2, -26, 26);
						ctx.fillStyle = "#573302";
					}
					if(table == focus.checked)
					{
						ctx.fillStyle = "rgba(255, 0, 0, 0.2)";
						ctx.fillRect(this.normalizeX(x)-2, this.normalizeY(y)+2, -26, height-4);
						ctx.fillRect(this.normalizeX(x)+2, this.normalizeY(y)-2, width-4, -26);
						ctx.fillRect(this.normalizeX(x+width)+2, this.normalizeY(y)+2, 26, height-4);
						ctx.fillRect(this.normalizeX(x)+2, this.normalizeY(y+height)+2, width-4, 26);
						ctx.fillRect(this.normalizeX(x)-2, this.normalizeY(y)-2, -26, -26);
						ctx.fillRect(this.normalizeX(x+width)+2, this.normalizeY(y)-2, 26, -26);
						ctx.fillRect(this.normalizeX(x+width)+2, this.normalizeY(y+height)+2, 26, 26);
						ctx.fillRect(this.normalizeX(x)-2, this.normalizeY(y+height)+2, -26, 26);
						ctx.fillStyle = "#AA3302";
					}

					if(table == newTable.table)
						ctx.fillStyle = "rgba(170, 51, 2, 0.4)";

					if(table == move.table)
						ctx.fillStyle = "rgba(170, 51, 2, 0.4)";
					ctx.fillRect(this.normalizeX(x), this.normalizeY(y), width, height);
					ctx.fillStyle ="#000";
					ctx.font = '30px Arial';
					ctx.fillText("Nr." + table.number, this.normalizeX(x)+(table.width/2)-20, this.normalizeY(y)+(table.height/2)-2);

				}
				if(table instanceof RoundTable)
				{
					var radious = table.radious;
					var half = radious/2;
					if(table == focus.mouseOver && table != focus.checked)
					{
						ctx.strokeStyle = "#111111";
						ctx.strokeRect(this.normalizeX(x-radious), this.normalizeY(y-radious), -30, -30);
						ctx.strokeRect(this.normalizeX(x-radious), this.normalizeY(y+radious), -30, 30);
						ctx.strokeRect(this.normalizeX(x+radious), this.normalizeY(y-radious), 30, -30);
						ctx.strokeRect(this.normalizeX(x+radious), this.normalizeY(y+radious), 30, 30);
					}
					if(table == focus.checked)
					{
						ctx.strokeStyle = "#000000";
						ctx.strokeRect(this.normalizeX(x-radious), this.normalizeY(y-radious), -30, -30);
						ctx.strokeRect(this.normalizeX(x-radious), this.normalizeY(y+radious), -30, 30);
						ctx.strokeRect(this.normalizeX(x+radious), this.normalizeY(y-radious), 30, -30);
						ctx.strokeRect(this.normalizeX(x+radious), this.normalizeY(y+radious), 30, 30);
						ctx.fillStyle = "#803302";
					}
		
					
					if(table == newTable.table)
						ctx.fillStyle = "rgba(100, 50, 1, 0.4)";


					ctx.beginPath();
					ctx.arc(this.normalizeX(x), this.normalizeY(y), radious, 
						0, Math.PI*2, true);
					ctx.closePath();
					ctx.fill();
					ctx.font = '30px Arial';
					ctx.fillStyle = "#000";
					ctx.fillText("Nr." + table.number, this.normalizeX(x)-15, this.normalizeY(y));
				}
				//this.renderTexture(this.normalizeX(x), this.normalizeY(y), 
				//			width, height, this.PATTERN_1, ctx);
				if(!table.chairs)
					continue;
				
				ctx.fillStyle="#321123";
				for(var j=0; j<table.chairs.length(); j++)
				{
					var chair=table.chairs.array[j];
					ctx.fillRect(this.normalizeX(chair.coords_v.x), 
						this.normalizeY(chair.coords_v.y), chair.width, chair.height);
				}
				
			}
			for(var i=0; i<context.currProject.walls.length(); ++i)
			{
				var wall=context.currProject.wall.array[i];
				var x_1 = wall.from_v.x;
				var y_1 = wall.from_v.y;
				var x_2 = wall.to_v.x;
				var y_2 = wall.to_v.y;
				
				ctx.moveTo(normalizeX(x_1), normalizeY(y_1));
				ctx.lineTo(normalizeX(x_2), normalizeY(y_2));
			}
		
			for(var i=0; i<context.actions.length(); ++i)
			{
				var action = context.actions.array[i];
				if(action instanceof AddTable)
				{
					if(action.stage == AddTable.prototype.STAGE_2)
					{
						ctx.fillStyle = "rgba(170, 51, 2, 0.2)";

						if(action.table instanceof RectTable)
						{
							ctx.fillRect(this.normalizeX(action.table.coords_v.x), 
								this.normalizeY(action.table.coords_v.y), 
								action.table.width, 
								action.table.height);
						}
						if(action.table instanceof RoundTable)
						{
							ctx.beginPath();
							ctx.arc(this.normalizeX(action.table.coords_v.x), 
								this.normalizeY(action.table.coords_v.y), 
								action.table.radious,
									0, Math.PI*2, true);
							ctx.closePath();
							ctx.fill();
						}
					}
				}
			}
			if(newTable)
				if(newTable.stage == newTable.STAGE_1)
				{
					ctx.fillStyle = "rgba(170, 51, 2, 0.2)";

						if(newTable.type == Table.prototype.RECT)
						{
							ctx.fillRect(ActionHandler.x, ActionHandler.y, 
								50, 50);
						}

						if(newTable.type == Table.prototype.CIRC)
						{
							ctx.beginPath();
							ctx.arc(ActionHandler.x, ActionHandler.y, 
								 50, 0, Math.PI*2, true);
							ctx.closePath();
							ctx.fill();
						}	
				}
		}
		
		
		//borders
		ctx.strokeRect(0, 0, w, h);
			
		//hud

		if(Context.ruler)
		{
			ctx.fillStyle = "#E4E876";
			ctx.fillRect(20, 30, w-20, 20);
			ctx.fillRect(0, 50, 20, h-20);

			ctx.strokeStyle = "#000000";
			for(var i = (context.currProject != 0 ? context.scrollH.value+20 : 20); 
				i <= (context.currProject != 0 ? context.scrollH.value+w : w); i+=10)
			{
				ctx.beginPath();	
				ctx.moveTo(Tools.normalizeX(i), 45);
				ctx.lineTo(Tools.normalizeX(i), 50);
				ctx.closePath();
				ctx.stroke();
		
				if(i%50 == 0)
				{
					ctx.beginPath();	
					ctx.moveTo(Tools.normalizeX(i), 40);
					ctx.lineTo(Tools.normalizeX(i), 50);
					ctx.closePath();
					ctx.stroke();
					//continue;
				}
		
				if(i%100 == 0)
				{      
					ctx.beginPath();	
					ctx.moveTo(Tools.normalizeX(i), 35);
					ctx.lineTo(Tools.normalizeX(i), 50);
					ctx.closePath();
					ctx.stroke();
					//continue;
				}
			}
		
			for(var i = (context.currProject != 0 ? context.scrollV.value+50 : 50); 
				i <= (context.currProject != 0 ? context.scrollV.value+h : h); i+=10)
			{
				ctx.beginPath();	
				ctx.moveTo(15, Tools.normalizeY(i));
				ctx.lineTo(20, Tools.normalizeY(i));
				ctx.stroke();
		
				if(i%50 == 0)
				{
					ctx.beginPath();	
					ctx.moveTo(10, Tools.normalizeY(i));
					ctx.lineTo(20, Tools.normalizeY(i));
					ctx.closePath();
					ctx.stroke();
					//continue;
				}
		
				if(i%100 == 0)
				{      
					ctx.beginPath();	
					ctx.moveTo(5, Tools.normalizeY(i));
					ctx.lineTo(20, Tools.normalizeY(i));
					ctx.closePath();
					ctx.stroke();
					//continue;
				}
			}

			ctx.strokeStyle = "#FF00FF";
			ctx.beginPath();	
			ctx.moveTo(ActionHandler.x, 30);
			ctx.lineTo(ActionHandler.x, 50);
			ctx.closePath();
			ctx.stroke();
			ctx.beginPath();	
			ctx.moveTo(0, ActionHandler.y>50?ActionHandler.y:50);
			ctx.lineTo(20, ActionHandler.y>50?ActionHandler.y:50);
			ctx.closePath();
			ctx.stroke();
		}
		ctx.strokeStyle = "#000000";
		ctx.fillStyle = "#BFBFBF";
		ctx.fillRect(0, 0, w-30, 30);
		ctx.strokeRect(0, 0, w-30, 30);
		
		ctx.fillStyle = "#000000";
		ctx.font = ctx.font = '20px Arial';
		if(context.currProject)
			ctx.fillText("Projekt: " + context.currProject.name, 5, 25);
		else
			ctx.fillText("Nie otwarto projektu", 5, 25);
		/*if(context.scrollV)
			ctx.fillText("ScrollX: " + context.scrollH.value, w-120, 28);
		if(context.scrollH)
			ctx.fillText("ScrollY: " + context.scrollV.value, w-120, 14);
		ctx.fillText("MousePosX: " + Math.round(this.deNormalizeX(ActionHandler.x)), w-220, 28);
		ctx.fillText("MousePosY: " + Math.round(this.deNormalizeY(ActionHandler.y)), w-220, 14);*/
	
		//scrolls
		//ctx.fillStyle = "#BFBFBF";

		//ctx.fillRect(0, h-30, w-30, 30);
		//ctx.fillRect(w-30, 0, w-30, h-30);
		ctx.fillStyle = "#6790C9";
		ctx.strokeStyle = "#000";
		ctx.lineWidth = 1;
		ctx.fillRect(0, h-30, 30, 30);
		ctx.strokeRect(0, h-30, 30, 30);
		ctx.fillRect(w-30, 0, 30, 30);
		ctx.strokeRect(w-30, 0, 30, 30);
		ctx.fillRect(w-60, h-30, 30, 30);
		ctx.strokeRect(w-60, h-30, 30, 30);
		ctx.fillRect(w-30, h-60, 30, 30);
		ctx.strokeRect(w-30, h-60, 30, 30);

		ctx.fillStyle = "#000";

		ctx.beginPath();
		ctx.moveTo(20, h-25);
		ctx.lineTo(20, h-5);
		ctx.lineTo(5, h-15);
		ctx.lineTo(20, h-25);
		ctx.fill();
		ctx.closePath();

		ctx.beginPath();
		ctx.moveTo(w-25, 20);
		ctx.lineTo(w-5, 20);
		ctx.lineTo(w-15, 5);
		ctx.lineTo(w-25, 20);
		ctx.fill();
		ctx.closePath();

		ctx.beginPath();
		ctx.moveTo(w-25, h-50);
		ctx.lineTo(w-5, h-50);
		ctx.lineTo(w-15, h-35);
		ctx.lineTo(w-25, h-50);
		ctx.fill();
		ctx.closePath();	

		
		ctx.beginPath();
		ctx.moveTo(w-50, h-25);
		ctx.lineTo(w-50, h-5);
		ctx.lineTo(w-35, h-15);
		ctx.lineTo(w-50, h-25);
		ctx.fill();
		ctx.closePath();
		
		if(context.currProject)
		{
			if(context.currProject.width+100 > w)
			{
				ctx.fillStyle = "rgba(100, 100, 100, 0.4)";
				var pos_x = (w-90) * ((context.scrollH.value+50)/(context.currProject.width+100));
				var pos_width = (w-90) * ( w / (context.currProject.width+100));
				ctx.fillRect(pos_x+30, h-30, pos_width, 30);
				ctx.strokeRect(pos_x+30, h-30, pos_width, 30);
			}

			if(context.currProject.height+100 > h)
			{
				ctx.fillStyle = "rgba(100, 100, 100, 0.4)";
				var pos_y = (h-90) * ((context.scrollV.value+50)/(context.currProject.height+100));
				var pos_height = (h-90) * ( h / (context.currProject.height+100));
				ctx.fillRect(w-30, pos_y+30, 30, pos_height);
				ctx.strokeRect(w-30, pos_y+30, 30, pos_height);
			}
		}	
	}
};

var Action = Class.create({
	doIt: function(x, y, type)
	{ },
	end: function()
	{
		this.owner.actions.remove(this);
	},
	owner: 0,
	stage: 0,	
	CLICK: 0,
	RIGHTCLICK: 1,
	DBCLICK: 2,
	MOUSEMOVE: 3,
	UP: 4
});

var Move = Class.create(Action, {
	initialize: function(table, owner, x, y)
	{
		this.table = table;
		this.oldTable = Object.clone(table);
		this.owner = owner;
		this.handle_x = Tools.deNormalizeX(x) - table.coords_v.x;
		this.handle_y = Tools.deNormalizeY(y) - table.coords_v.y;
	},
	doIt: function(x, y, type)
	{
		switch (type)
		{
		case this.MOUSEMOVE:
			var abs_x = Tools.deNormalizeX(x);
			var abs_y = Tools.deNormalizeY(y);
			if(Context.showGrind)
			{
				if(this.table instanceof RectTable)
				{
					var w = this.table.width;
					var h = this.table.height;
					this.table.coords_v.x = Tools.getNearestPointXfrom(abs_x - this.handle_x, w);
					this.table.coords_v.y = Tools.getNearestPointYfrom(abs_y - this.handle_y, h);
				}
				else if (this.table instanceof RoundTable)
				{
					var r = this.table.radious;
					abs_x -= r;
					abs_y -= r;
					this.table.coords_v.x = Tools.getNearestPointXfrom(abs_x - this.handle_x, 2*r) + r;
					this.table.coords_v.y = Tools.getNearestPointYfrom(abs_y - this.handle_y, 2*r) + r;
				}
			}
			else
			{
				this.table.coords_v.x = Tools.deNormalizeX(abs_x - this.handle_x);
				this.table.coords_v.y = Tools.deNormalizeY(abs_y - this.handle_y);
			}
		break;
		
		case this.UP:
			this.end();
		break;
		}
		
		return true;
	},
	
	handle_x: 0,
	handle_y: 0,
	table: 0,
	oldTable: 0,
	type: 0,
});
		
var Resize = Class.create(Action, {
	initialize: function(table, owner, type)
	{
		this.table = table;
		this.oldTable = Object.clone(table);
		this.type = type;
		this.owner = owner;
	},
		
	doIt: function(x, y, type)
	{
		if(this.table instanceof RectTable)
		{
			var n_x = this.table.coords_v.x;
			var n_y = this.table.coords_v.y;
			var n_w = this.table.width;
			var n_h = this.table.height;
			var o_x; 
			var o_y;
			if(this.owner.showGrind)
			{
				o_x = Tools.getNearestPointX(x);
				o_y = Tools.getNearestPointY(y);
			}
			else
			{
				o_x = Tools.deNormalizeX(x);
				o_y = Tools.deNormalizeY(y);
			}
			var m_x = 0;
			var m_y = 0;
			var m_w = 0;
			var m_h = 0;
		}
		
		if(this.table instanceof RoundTable)
		{
			var o_x = Tools.deNormalizeX(x);
			var o_y = Tools.deNormalizeY(y);
			var n_x = this.table.coords_v.x;
			var n_y = this.table.coords_v.y;
			var n_r = this.table.radious;
			if(this.m_r == 0)
				this.m_r = Math.sqrt( (n_x - o_x)*(n_x - o_x) + 
					(n_y - o_y)*(n_y - o_y) ) - n_r;
		}
		
		switch(type)
		{
		case this.MOUSEMOVE:
			if(this.table instanceof RectTable)
			{
				switch(this.type)
				{
				case this.LEFT:
					m_w = n_w - (o_x - n_x);
					if(m_w>50 && !Context.currProject.checkIfCollideWithObjects(o_x, n_y, this.table) && !

Context.currProject.checkIfCollideWithObjects(o_x, n_y+n_w, this.table))
					{
						
						this.table.coords_v.x = o_x;
						this.table.width = m_w;
					}
				break;
		
				case this.RIGHT:
					m_w = o_x - (n_x + n_w);
					if(!Context.currProject.checkIfCollideWithObjects(o_x, n_y, this.table))
						this.table.width += m_w;
					if(this.table.width<50) this.table.width=50;
				break;
		
				case this.TOP:
					m_h = n_h - (o_y - n_y);
					if(m_h>50)
					{
						this.table.coords_v.y = o_y;
						this.table.height = m_h;
					}
				break;
		
				case this.DOWN:
					m_h = o_y - (n_y + n_h);
					this.table.height += m_h;
					if(this.table.height<50) this.table.height = 50;
				break;
		
				case this.LEFT_TOP:
					m_w = n_w - (o_x - n_x);
					if(m_w>50)
					{
						this.table.coords_v.x = o_x;
						this.table.width = m_w;
					}
					m_h = n_h - (o_y - n_y);
					if(m_h>50)
					{
						this.table.coords_v.y = o_y;
						this.table.height = m_h;
					}
				break;
		
				case this.LEFT_DOWN:
					m_w = n_w - (o_x - n_x);
					if(m_w>50)
					{
						this.table.coords_v.x = o_x;
						this.table.width = m_w;
					}
					m_h = o_y - (n_y + n_h);
					m_h = o_y - (n_y + n_h);
					this.table.height += m_h;
					if(this.table.height<50) this.table.height = 50;
				break;
		
				case this.RIGHT_TOP:
					m_w = o_x - (n_x + n_w);
					this.table.width += m_w;
					if(this.table.width<50) this.table.width=50;
					m_h = n_h - (o_y - n_y);
					if(m_h>50)
					{
						this.table.coords_v.y = o_y;
						this.table.height = m_h;
					}
				break;
		
				case this.RIGHT_DOWN:
					m_w = o_x - (n_x + n_w);
					this.table.width += m_w;
					if(this.table.width<50) this.table.width=50;
					m_h = o_y - (n_y + n_h);
					this.table.height += m_h;
					if(this.table.height<50) this.table.height = 50;
				break;
				
				}
			}
			
			if(this.table instanceof RoundTable)
			{
				var new_r = Math.sqrt( (n_x - o_x)*(n_x - o_x) + 
					(n_y - o_y)*(n_y - o_y) );
				this.table.radious = new_r-this.m_r<0 ? 0 : new_r-this.m_r;
			}
		break;
		
		case this.UP:
			this.end();
		break;
		}	
		
		return true;
	},
	m_r: 0,
	table: 0,
	oldTable: 0,
	type: 0,
	LEFT: 1,
	RIGHT: 2,
	TOP: 3,
	DOWN: 4,
	LEFT_TOP: 5,
	LEFT_DOWN: 6,
	RIGHT_TOP: 7,
	RIGHT_DOWN: 8,
});
		
var Focus = Class.create(Action, {
	doIt: function(x, y, type)
	{
		if(!Context.currProject)
			return;
		for(var i=0; i<Context.actions.length; ++i)
			if(Context.actions[i] instanceof AddTable)
				return false;
		
		var tables = Context.currProject.tables;
		var flag = false;
		switch(type)
		{
		case this.CLICK:
			for(var i=0; i<tables.length(); ++i)
			{
				if(tables.array[i].checkIfCollideAll(Tools.deNormalizeX(x),
					Tools.deNormalizeY(y)))
				{
					this.checked = tables.array[i];
					flag = true;
				}
		
				if(tables.array[i].checkIfCollide(Tools.deNormalizeX(x),
					Tools.deNormalizeY(y)))
				{
					var move = new Move(tables.array[i], Context, x, y)
					Context.actions.add(move);
					break;
				}
				
				if(tables.array[i] instanceof RectTable)
				{
					if(tables.array[i].checkIfOverL(Tools.deNormalizeX(x), 
						Tools.deNormalizeY(y)))
					{
						var resize = new Resize(tables.array[i], Context, Resize.prototype.LEFT);
						Context.actions.add(resize);
					}
			
					if(tables.array[i].checkIfOverR(Tools.deNormalizeX(x), 
						Tools.deNormalizeY(y)))
					{
						var resize = new Resize(tables.array[i], Context, Resize.prototype.RIGHT);
						Context.actions.add(resize);
					}
			
					if(tables.array[i].checkIfOverD(Tools.deNormalizeX(x), 
						Tools.deNormalizeY(y)))
					{
						var resize = new Resize(tables.array[i], Context, Resize.prototype.DOWN);
						Context.actions.add(resize);
					}
			
					if(tables.array[i].checkIfOverT(Tools.deNormalizeX(x), 
						Tools.deNormalizeY(y)))
					{
						var resize = new Resize(tables.array[i], Context, Resize.prototype.TOP);
						Context.actions.add(resize);
					}
				}
		
				if(tables.array[i].checkIfOverLT(Tools.deNormalizeX(x), 
					Tools.deNormalizeY(y)))
				{
					var resize = new Resize(tables.array[i], Context, Resize.prototype.LEFT_TOP);
					Context.actions.add(resize);
				}
		
				if(tables.array[i].checkIfOverLD(Tools.deNormalizeX(x), 
					Tools.deNormalizeY(y)))
				{
					var resize = new Resize(tables.array[i], Context, Resize.prototype.LEFT_DOWN);
					Context.actions.add(resize);
				}
		
				if(tables.array[i].checkIfOverRT(Tools.deNormalizeX(x), 
					Tools.deNormalizeY(y)))
				{
					var resize = new Resize(tables.array[i], Context, Resize.prototype.RIGHT_TOP);
					Context.actions.add(resize);
				}
		
				if(tables.array[i].checkIfOverRD(Tools.deNormalizeX(x), 
					Tools.deNormalizeY(y)))
				{
					var resize = new Resize(tables.array[i], Context, Resize.prototype.RIGHT_DOWN);
					Context.actions.add(resize);
				}
			}
			if(!flag)
				this.checked = 0;
		break;
		case this.MOUSEMOVE:
			for(var i=0; i<tables.length(); ++i)
			{
				if(tables.array[i].checkIfCollideAll(Tools.deNormalizeX(x),
					Tools.deNormalizeY(y)))
				{
					this.mouseOver = tables.array[i];
					flag = true;
					break;
				}
			}
			if(!flag)
				this.mouseOver = 0;
		break;
		}
		
		Context.show();
		return false;
	},
	mouseOver: 0,
	checked: 0
});		

var Scrolling = Class.create(Action, {
	initialize: function(owner, type)
	{
		this.owner = owner;
		this.type = type;
	},
	doIt: function(x, y, type)
	{
		if(type == this.UP)
		{
			this.owner.stopInc();
			return false;
		}
		if(type != this.CLICK)
			return false;
		
		var w=Display.width;
		var h=Display.height;
		
		switch(this.type)
		{
			case this.LD:
				if((x<30) && (y>h-30))
				{
					this.owner.startInc(-1);
					return true;
				}
			break;
			case this.RD:
				if((x>w-60) && (x<w-30) && (y>h-30))
				{
					this.owner.startInc(1);
					return true;
				}
			break;
			case this.LT:
				if((x>w-30) && (y<30))
				{
					this.owner.startInc(-1);
					return true;
				}
			break;
		
			case this.RT:
				if((x>w-30) && (y>h-60) && (y<h-30))
				{
					this.owner.startInc(1);
					return true;
				}
			break;
		}
		return false;	
	},
	type: 0,
	LD: 0,
	RD: 1,
	LT: 2,
	RT: 3
});		

var AddTable = Class.create(Action, {
	initialize: function(type, owner)
	{
		this.type = type;
		this.stage = this.STAGE_1;
		this.owner = owner;
	},		
	doIt: function(x, y, type)
	{
		if(this.stage == this.FINISHED)
			return false;

		for(var i=0; i<this.owner.currProject.tables.length(); ++i)
		{
			if (this.owner.currProject.tables.array[i] == this.table)
				continue;
			if(this.owner.currProject.tables.array[i].checkIfCollide(Tools.deNormalizeX(x),
				Tools.deNormalizeY(y)))
				return false;
		}

		switch(type)
		{
			case this.CLICK:

				switch(this.stage)
				{
				case this.STAGE_1:
					var table;
					if(this.owner.showGrind)
						table = this.owner.currProject.addTable(Tools.getNearestPointX(x),
							Tools.getNearestPointY(y), 50, 50, this.type);
					else
						table= this.owner.currProject.addTable(Tools.getNearestPointX(x),
							Tools.getNearestPointY(y), 50, 50, this.type);
					if(table)
					{
						this.table = table;
						this.stage = this.STAGE_2;
					}
				break;
				case this.STAGE_2:
					this.end();
					this.stage = this.FINISHED;
					return false;
				break;	
				}
			break;
			case this.MOUSEMOVE:
				if(this.table)
				{
					var table_x = this.table.coords_v.x;
					var table_y = this.table.coords_v.y;
					if(this.owner.showGrind)
					{
						var real_x = Tools.getNearestPointX(x);
						var real_y = Tools.getNearestPointY(y);
					}
					else
					{
						var real_x = Tools.deNormalizeX(x);
						var real_y = Tools.deNormalizeY(y);
					}
					if(this.table instanceof RectTable)
					{
						this.table.width = real_x - table_x < 50 ? 50 : real_x - table_x;
						this.table.height = real_y - table_y< 50 ? 50 : real_y - table_y;
					}
					if(this.table instanceof RoundTable )
					{
						this.table.radious = Math.sqrt(
							(table_x - real_x)*(table_x - real_x) + 
							(table_y - real_y)*(table_y - real_y));
					}
				}
			break;

			case this.UP:
				
				this.end();
				this.stage = this.FINISHED;
				return false;
				
			break;

			case this.RIGHTCLICK:
				this.owner.currProject.remove(table);
				this.end();
			break;
			
			return false;		
		}
	},
	type: 0,
	table: 0,
	newObject: 0,
	STAGE_1: 1,
	STAGE_2: 2,
	FINISHED: 3,	
});		

var ArrayList = Class.create({
	array: 0,
	initialize: function()
	{
		this.array = [];
	},
	add: function(object)
	{
		this.array.push(object);	
	},
		
	remove: function(object)
	{
		for(var i=0; i<this.array.length; ++i)
		{
			if (this.array[i] == object)
			{
				this.array.splice(i, 1);
				return true;
			}
		}
		return false;
	},
		
	find: function(object)
	{
		for(var i=0; i<this.array.length; ++i)
		{
			if (this.array[i] == object)
			{
				return i;
			}
		}
		return -1;
	},
		
	length: function()
	{
		return this.array.length;
	}
});		
		
var Collisions = {
	pointWithRectangle: function(point_v, rect_v, width, height)
	{
			
	},
	
	pointWithCircle: function(point_v, center_v, r)
	{
		
	}
};

var Context = {
	currProject: 0,
	contextMenu: 0,
	scrollH: 0,
	scrollV: 0,
	showGrind: true,
	actions: 0,
	ruler: true,
	
	deleteTable: function()
	{
		if(!this.currProject)
			return;
		for(var i=0; i<this.actions.length(); ++i)
		{
			if(this.actions.array[i] instanceof Focus)
			{
				var table = this.actions.array[i].checked;
				this.currProject.tables.remove(table);
				break;
			}
		}
		
		this.show();
	},
		
	openRoom: function()
	{
		
		var id = $.instance.id;
		
		if (id == 0)
			return;
		
		jQuery.get("/Tables/Load", {"id": id}, function(data) {
					
			jQuery.each(data.Tables, function (i, table)
			{
				this.currProject = new Room(data.Name, data.Width, 
							data.Height, $.instance.id);
				if(table.Type = "Rect")
				{
					var newTable = new RectTable(new Toold.vertex2f(table.X, table.Y), table.Width, table.Height);
					newTable.number = table.Number;
					this.currProject.tables.add(newTable);
				}
				else if(table.Type = "Round")
				{
					var newTable = RoundTable(new Toold.vertex2f(table.X, table.Y), table.Radius);
					newTable.number = table.Number;
					this.currProject.tables.add(newTable);
				}
			});
		});
	},
		
	newRoom: function()
	{
		if(this.currProject)
		{
			if(!confirm("Inny projekt jest otwarty czy napewno chcesz go zamknĂÂĂÂ?"))
				return;
			if(confirm("Czy chcesz zapisaĂÂ zmiany przed zamkniĂÂciem?"))
				this.saveRoom();
		}
		
		var width=0;
		while(width == 0)
			width = parseInt(prompt("Podaj szerokoĂÂĂÂ sali"));
		
		var height=0;
		while(height == 0)
			height = parseInt(prompt("Podaj dĂÂugoĂÂĂÂ sali"));
		
		var name = 0;
		while(name == 0)
			name = prompt("Podaj nazwĂÂ sali");
		
		var newRoom = new Room(name, width, height, 0);
		this.currProject = newRoom;
		
		this.scrollH.setProject(newRoom, 1);
		this.scrollV.setProject(newRoom, -1);
		
		this.show();
	},
		
	saveRoom: function()
	{
		var tables = {};
		
		tables["Id"] = this.currProject.id;
		tables["Name"] = this.currProject.name;
		tables["Width"] = this.currProject.width;
		tables["Height"] = this.currProject.height;
		
		for(var i=0; i<this.currProject.tables.length(); ++i)
		{
			var table = this.currProject.tables.array[i];

			tables[sprintf("Tables[%d].Number", i)] = table.number;
			tables[sprintf("Tables[%d].X", i)] = table.coords_v.x;
			tables[sprintf("Tables[%d].Y", i)] = table.coords_v.y;
	
			if(table instanceof RectTable)
			{
				tables[sprintf("Tables[%d].Type", i)] = "rect";
				tables[sprintf("Tables[%d].Width", i)] = table.width;
				tables[sprintf("Tables[%d].Height", i)] = table.height;

			}
	
			if(table instanceof RoundTable)
			{
				tables[sprintf("Tables[%d].Type", i)] = "round";
				tables[sprintf("Tables[%d].Radius", i)] = table.radious;
			}
		}
		jQuery.post("/Tables/Save", tables);
	},
	
	show: function()
	{
		Tools.renderer(Context, Display.ctx);
	},
	
	actionsClick: function(click)
	{
		for(var i=0; i<Context.actions.length(); ++i)
		{
			if( Context.actions.array[i].doIt(click.x, click.y, Action.prototype.CLICK ) )
				break;
		}
	},
		
	actionsUp: function(click)
	{
		for(var i=0; i<Context.actions.length(); ++i)
		{
			if( Context.actions.array[i].doIt(click.x, click.y, Action.prototype.UP ) )
				break;
		}
	},
		
	actionsMove: function(x, y)
	{
		for(var i=0; i<Context.actions.length(); ++i)
		{
			if( Context.actions.array[i].doIt(x, y, Action.prototype.MOUSEMOVE) )
				break;
		}	
	},
		
	actionsDbClick: function(x, y)
	{
		
	},
		
	init: function()
	{
		Display.init();
		ActionHandler.init();
		this.scrollH = new Scroll(0, 0, 0, 0);
		this.scrollV = new Scroll(0, 0, 0, 0);
		var scrollLD = new Scrolling(this.scrollH, Scrolling.prototype.LD);
		var scrollRD = new Scrolling(this.scrollH, Scrolling.prototype.RD);
		var scrollLT = new Scrolling(this.scrollV, Scrolling.prototype.LT);
		var scrollRT = new Scrolling(this.scrollV, Scrolling.prototype.RT);
		var focus = new Focus();
		ActionHandler.mouseMoveEventList.push(this.show);
		this.actions = new ArrayList();
		this.actions.add(scrollLD);
		this.actions.add(scrollRD);
		this.actions.add(scrollLT);
		this.actions.add(scrollRT);
		this.actions.add(focus);
		ActionHandler.mouseMoveEventList.push(this.actionsMove);
		ActionHandler.mouseDownEventList.push(this.actionsClick);
		ActionHandler.mouseUpEventList.push(this.actionsUp);
		
		if ($.instance.id == 0)
			jQuery('#settings').modal();
		
		this.openRoom();
		this.ruler = true;
		this.show();
		//Display.ctx.fillStyle = "#FF0000";
		//Tools.renderTexture(10, 10, 100, 100, Tools.PATTERN_1, Display.ctx);
	}
};

var Table = new Class.create({	
	initialize: function()
	{
		this.chairs = new ArrayList();
	},		
	coords_v: 0,
	id: 0,
	number: 0,
	chairs: 0,
	RECT: 0,
	CIRC: 1
});

var RectTable = new Class.create(Table, {
	initialize: function(coords_v, width, height)
	{
		this.coords_v = coords_v;
		this.width = width;
		this.height = height;
	},
	
	checkIfCollide: function(x, y)
	{
		if( (x>this.coords_v.x) && (x<this.coords_v.x+this.width)
			&& (y>this.coords_v.y) && (y<this.coords_v.y + this.height))
		return true;
			else
		return false;
	},
		
	checkIfCollideAll: function(x, y)
	{
		var c_x= this.coords_v.x-30;
		var c_y= this.coords_v.y-30;
		var w= this.width + 60;
		var h= this.height + 60;
		if( (x>c_x) && (x<c_x+w) && (y>c_y) && (y<c_y + h))
			return true;
		else
			return false;
	},
		
	checkIfOverL: function(x, y)
	{
		var c_x= this.coords_v.x-30;
		var c_y= this.coords_v.y;
		var w= 30;
		var h= this.height;
		if( (x>c_x) && (x<c_x+w) && (y>c_y) && (y<c_y + h))
			return true;
		else
			return false;	
	},
	
	checkIfOverT: function(x, y)
	{
		var c_x= this.coords_v.x;
		var c_y= this.coords_v.y-30;
		var w= this.width;
		var h= 30;
		if( (x>c_x) && (x<c_x+w) && (y>c_y) && (y<c_y + h))
			return true;
		else
			return false;
	},
		
	checkIfOverR: function(x, y)
	{
		var c_x= this.coords_v.x+this.width;
		var c_y= this.coords_v.y;
		var w= 30;
		var h= this.height;
		if( (x>c_x) && (x<c_x+w) && (y>c_y) && (y<c_y + h))
			return true;
		else
			return false;
	},
		
	checkIfOverD: function(x, y)
	{
		var c_x= this.coords_v.x;
		var c_y= this.coords_v.y+this.height;
		var w= this.width;
		var h= 30;
		if( (x>c_x) && (x<c_x+w) && (y>c_y) && (y<c_y + h))
			return true;
		else
			return false;
	},
		
	checkIfOverLT: function(x, y)
	{
		var c_x= this.coords_v.x-30;
		var c_y= this.coords_v.y-30;
		var w= 30;
		var h= 30;
		if( (x>c_x) && (x<c_x+w) && (y>c_y) && (y<c_y + h))
			return true;
		else
			return false;
	},
		
	checkIfOverLD: function(x, y)
	{
		var c_x= this.coords_v.x-30;
		var c_y= this.coords_v.y+this.height;
		var w= 30;
		var h= 30;
		if( (x>c_x) && (x<c_x+w) && (y>c_y) && (y<c_y + h))
			return true;
		else
			return false;
	},
		
	checkIfOverRT: function(x, y)
	{
		var c_x= this.coords_v.x+this.width;
		var c_y= this.coords_v.y-30;
		var w= 30;
		var h= 30;
		if( (x>c_x) && (x<c_x+w) && (y>c_y) && (y<c_y + h))
			return true;
		else
			return false;
	},
		
	checkIfOverRD: function(x, y)
	{
		var c_x= this.coords_v.x+this.width;
		var c_y= this.coords_v.y+this.height;
		var w= 30;
		var h= 30;
		if( (x>c_x) && (x<c_x+w) && (y>c_y) && (y<c_y + h))
			return true;
		else
			return false;
	},

	width: 0,
	height: 0
});

var RoundTable = new Class.create(Table, {
	initialize: function(coords_v, radious)
	{
		this.coords_v = coords_v;
		this.radious = radious;
	},
		
	checkIfCollideAll: function(x, y)
	{
		var c_x= this.coords_v.x - this.radious -30;
		var c_y= this.coords_v.y - this.radious -30;
		var w= this.radious*2 + 60;
		var h= this.radious*2 + 60;
		if( (x>c_x) && (x<c_x+w) && (y>c_y) && (y<c_y + h))
			return true;
		else
			return false;
	},
	
	checkIfCollide: function(x, y)
	{
		if( Math.sqrt((this.coords_v.x - x)*(this.coords_v.x - x) +
		    (this.coords_v.y - y)*(this.coords_v.y - y)) < this.radious)
			return true;
		else
			return false;
	},
		
	checkIfOverLT: function(x, y)
	{
		var c_x= this.coords_v.x-this.radious-30;
		var c_y= this.coords_v.y-this.radious-30;
		var w= 30;
		var h= 30;
		if( (x>c_x) && (x<c_x+w) && (y>c_y) && (y<c_y + h))
			return true;
		else
			return false;
	},
		
	checkIfOverLD: function(x, y)
	{
		var c_x= this.coords_v.x-this.radious-30;
		var c_y= this.coords_v.y+this.radious;
		var w= 30;
		var h= 30;
		if( (x>c_x) && (x<c_x+w) && (y>c_y) && (y<c_y + h))
			return true;
		else
			return false;
	},
		
	checkIfOverRT: function(x, y)
	{
		var c_x= this.coords_v.x+this.radious;
		var c_y= this.coords_v.y-this.radious-30;
		var w= 30;
		var h= 30;
		if( (x>c_x) && (x<c_x+w) && (y>c_y) && (y<c_y + h))
			return true;
		else
			return false;
	},
		
	checkIfOverRD: function(x, y)
	{
		var c_x= this.coords_v.x+this.radious;
		var c_y= this.coords_v.y+this.radious;
		var w= 30;
		var h= 30;
		if( (x>c_x) && (x<c_x+w) && (y>c_y) && (y<c_y + h))
			return true;
		else
			return false;
	},
	radious: 0
});

var Wall = new Class.create({
	initialize: function(form_v, to_v)
	{
		this.from_v = from_v;
		this.to_v = to_v;
	},
	from_v: 0,
	to_v: 0,
	doors: 0
});

var Chair = new Class.create({
	initialize: function(coords_v)
	{
		this.coords_v = coords_v;
	},
	coords_v: 0,
	width: 30,
	height: 30
});

var Door = new Class.create({
	initialize: function(form_v, to_v)
	{
		this.from_v = from_v;
		this.to_v = to_v;
	},
	from_v: 0,
	to_v: 0
});		

var Room = new Class.create({
	initialize: function(name, width, height, id)
	{
		this.name = name;
		this.width = width;
		this.height = height;
		this.tables = new ArrayList();
		this.walls = new ArrayList();
		this.id = id;
	},
		
	addTable: function(x, y, arg1, arg2, type)
	{
		var table;
		switch(type)
		{
		case Table.prototype.RECT:
			table = new RectTable(new Tools.vertex2f(x, y), arg1, arg2);
			break;
		case Table.prototype.CIRC:
			table = new RoundTable(new Tools.vertex2f(x, y), arg1, arg2); 
		}
		
		var min=0;
		var flag;
		while(1)
		{
			flag=true;
			for(var i=0; i<this.tables.length(); ++i)
			{
				if(min==this.tables.array[i].number)
				{
					flag=false;
					break;
				}
			}
		
			if(flag)
				break;
			
			
			min++;
		}
		
		
		table.number=min;
		this.tables.add(table);
		
		return table;
	},

	checkIfCollideWithObjects: function(x, y, table)
	{
		for(var i = 0; i < this.tables.length(); ++i)
			if(this.tables.array[i].checkIfCollide(x, y) && this.tables.array[i] != table)
				return true;
		return false;
	},

	name: 0,
	width: 0,
	height: 0,
	tables: 0,
	walls: 0,
	id: 0
});

var action = 0;	
var handler = 0;
		
var Scroll = new Class.create({
	initialize: function(length, value, area, jump)
	{
		this.length = length;
		this.value = value;
		this.area = area;
		this.jump = jump;
		setInterval(this.inc, 50);
		setInterval(this.deinc, 50);
	},
	length: 0,
	value: 0,
	area: 0,
	jump: 0,
	startInc: function(direction)
	{	
		if(direction>0)
		{
			action = 1;
			handler = this;
		}
		else
		{
			
			action = 2;
			handler = this;
		}
	},
	
	inc: function()
	{
		if(action!=1)
			return;
		if(handler.value+handler.area+handler.jump<=handler.length+50)
		{
			handler.value+=handler.jump;
			handler.jump++;
		}
		else
			handler.value=handler.length-handler.area+50;
		Context.show();
	},
		
	deinc: function()
	{
		if(action!=2)
			return;
		if(handler.value-handler.jump>=-50)
		{
			handler.value-=handler.jump;
			handler.jump++;
		}
		else
			handler.value=-50;
		Context.show();
	},
	
	stopInc: function()
	{
		handler.jump = 10;
		action=0;
	},
	
	setProject: function(project, orientation)
	{
		if(orientation>0)
		{
			this.length = project.width;
			this.area = Display.width;
				
		} 
		else 
		{
			this.length = project.height;
			this.area = Display.height;
		}
		this.jump = 10;
		this.value = 0;
	}
});		
		
var Button = Class.create({
	initialize: function(name, action)
	{
		this.name = name;
		this.action = action;
	},		
	name: 0,
	action: 0
});

var ContextMenu = Class.create({
	owner: 0,		
	buttons: 0
});		
	
window.onload = Context.init();	
</script>
</asp:Content>			
