@using FusionSzef
@section commands {
	<li><a href="@Url.Action("Editor")">Dodaj stolik</a></li>
}

<table
    feature="datatable"
    source="@Url.RouteUrl("AjaxList", new { domain = "Room" })" 
    row-edit="@Url.Action("Editor")">
	<td name="Nazwa sali" property="Name"/>
</table>

