@using FusionSzef
@using FusionPOS.Translations
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>POS: Admin</title>
		<link rel="stylesheet" href="@Url.Content("~/Content/css/admin.css")"/>
		@foreach (var i in FusionSzef.Layout.Javascripts) {
			<script type="text/javascript" src="@Url.Content(i)"></script>	
		}
		@if (IsSectionDefined("head")) {
			@RenderSection("head")
		}
		<script type="text/javascript">
			jQuery.ready(function($) {
				$("#more-options").mouseenter(function() {
					$("#menu").show();
					$("#menu").position({ my: "right top", at: "right bottom", of: "#more-options" });
				});

				$("#more-options").mouseleave(function() {
					$("#menu").delay(500).hide();
				});	
				
				$("#menu").mouseenter(function() {
					$("#menu").show();
				});
				
				$("#menu").mouseleave(function() {
					$("#menu").hide();
				});				
			});
		</script>
	</head>
	<body>
		@if (IsSectionDefined("script")) {
		<script type="text/javascript">
			@RenderSection("script")
		</script>
		}
		<div id="wrap">
		 	@*<div id="top">
				<div id="title">
					Panel administracyjny
				 	<div id="company-name">@Html.Action("CompanyName", "Home")</div>
				</div>
			</div>
			<div id="menu">
				@foreach (var i in FusionSzef.Layout.TopButtons) {
					@Html.Partial("_AdminButton", i)
				}
				<div style="clear: both;"></div>
				@Html.Action("LogonInfo", "Home")
				<div style="clear: both;"></div>
			</div>*@        
			<ul id="top-buttons">
				@foreach (var i in FusionSzef.Layout.TopButtons) {
					@Html.Partial("_AdminButton", i)
				}
				<li id="more-options">
					<img src="@Url.Content("~/Content/images/icons/more.png")"/>
					<div class="title"><a>More options</a></div>
				</li>
			</ul>
			<div id="main">
				<ul id="subsections">
					@if (IsSectionDefined("subsections")) {
						@RenderSection("subsections")
					}
				</ul>				
				<ul id="commands">
					@RenderSection("commands")
				</ul>
				<div style="clear: both;"></div>
				<div id="content" style="visibility: hidden;">
					@if (TempData.ContainsKey("Error")) {
						<div id="flash-error">@TempData["Error"]</div>
					}
					@if (TempData.ContainsKey("Message")) {
						<div id="flash-error">@TempData["Message"]</div>
					}
					@RenderBody()
					<div style="clear: both;"></div>
				</div>
			</div>
			@if (ViewContext.RouteData.Values["Controller"] == "Home") {
				<ul id="bottom-buttons">
					@foreach (var i in FusionSzef.Layout.BottomButtons) {
						<li></li>
						@Html.Partial("_AdminButton", i)
					}
					<li>&nbsp;</li>					
				</ul>
			}
		</div>
		<ul id="menu">
			@if (ViewContext.RouteData.Values["Controller"] != "Home") {
				foreach (var i in FusionSzef.Layout.BottomButtons) {
					<li><a href="@Url.Action("Index", i.Controller)">@i.Title.Tr()</a></li>
				}
			}
			@foreach (var i in FusionSzef.Layout.MenuButtons) {
				<li><a href="@Url.Action("Index", i.Controller)">@i.Title.Tr()</a></li>
			}
		</div>
	</body>
</html>

