<%@ Master language="C#" inherits="System.Web.Mvc.ViewMasterPage" %>
<%@ Import namespace="FusionSzef" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>POS: Admin</title>
		<link rel="stylesheet" href="<%= Url.Content("~/Content/css/admin.css") %>"/>	
		<link rel="stylesheet" href="<%= Url.Content("~/Content/css/jquery.flexbox.css") %>"/>	
		<link rel="stylesheet" href="<%= Url.Content("~/Content/css/jquery.css") %>"/>
		<% foreach (var i in Layout.Javascripts) { %>
			<script type="text/javascript" src="<%= Url.Content(i) %>"></script>	
		<% } %>
	</head>
	<body>
		<div id="wrap">
		 	<div id="top">
				<div id="title">
					Panel administracyjny
					<div id="company-name"><% Html.RenderAction("CompanyName", "Home"); %></div>
				</div>
			</div>
			<div id="menu">
				<% foreach (var i in Layout.Sections) { %>
					<% Html.RenderPartial("_AdminButton", i); %>
				<% } %>
				<div style="clear: both;"></div>
				<span style="float: left;">Zalogowany jako: <%= Session["Username"] %></span>
				<span style="float: right;">Ostatnie logowanie: dawno</span>
				<div style="clear: both;"></div>
			</div>
			<div id="main">
				<ul id="commands">
					<asp:ContentPlaceHolder id="commands" runat="server"/>
				</ul>
				<div style="clear: both;"></div>
				<div id="content">
					<% if (TempData.ContainsKey("Error")) { %>
						<div id="flash-error"><%= TempData["Error"] %></div>
					<% } %>
					<% if (TempData.ContainsKey("Message")) { %>
						<div id="flash-error"><%= TempData["Message"] %></div>
					<% } %>
					<asp:ContentPlaceHolder id="content" runat="server"/>
					<div style="clear: both;"></div>
				</div>
			</div>
		</div>
	</body>
</html>

