<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>POS: Admin</title>
		<link rel="stylesheet" href="@Url.Content("~/Content/css/login.css")"/>	
		<link rel="stylesheet" href="@Url.Content("~/Content/css/jquery.css")"/>
		<script type="text/javascript" src="@Url.Content("~/Content/js/jquery-1.7.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/Content/js/admin.js")"></script>
</head>
<body>
	<div id="wrap">
		<div id="main">	
			@RenderBody()
		</div>
	</div>
</body>
</html>

